.callback-form {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;
  margin-bottom: 2.375rem;

  &__list {
    @include flex-setting(column, flex-start, flex-start);

    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    margin-bottom: 2.375rem;
  }

  &__item {
    @include flex-setting(column, flex-start, flex-start);

    width: 100%;
    margin-bottom: 1.125rem;

    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__error {
    @include font-setting($primary-font, 0.75rem, 1rem, 400, #FF756A);

    position: absolute;
    top: 0;
    right: 0;
  }

  &__optional {
    @include font-setting($primary-font, 0.75rem, 1rem, 400, #C1CAD5);

    position: absolute;
    top: 0;
    right: 0;
  }

  &__label {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 700, $text-primary);
    margin-bottom: 0.25rem;
  }

  &__input {
    -webkit-appearance: none;
    width: 100%;

    padding: 1rem 0.688rem;
    @include font-setting($primary-font, 0.875rem, 1.188rem, 700, $text-primary);

    border: 1px solid #E4D9C6;
    border-radius: 5px;

    cursor: text;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      border-color: #00778B;
      transition: 0.2s ease-in;
    }
  }

  &__textarea {
    -webkit-appearance: none;
    width: 100%;
    height: 126px;

    @include font-setting($primary-font, 0.875rem, 1.188rem, 700, $text-primary);

    padding: 0.813rem 1.375rem 0.813rem 0.688rem;

    border: 1px solid #E4D9C6;
    border-radius: 5px;

    cursor: text;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      border-color: #00778B;
      transition: 0.2s ease-in;
    }
  }

  &__submit {
    align-self: center;

    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);

    background-color: #84AA32;

    border: none;
    border-radius: 5px;

    width: 204px;
    height: 60px;

    &:hover,
    &:active,
    &:focus {
      @include btn-hover;
    }
  }
}
