.cloud {
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  position: relative;

  &::after {
    position: absolute;
    content: '';

    width: 20px;
    height: 100%;

    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);

    left: 10px;
    top: 0;
  }

  &::before {
    position: absolute;
    content: '';

    width: 20px;
    height: 100%;

    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);

    right: 10px;
    top: 0;
  }

  &__wrapper {
    @include flex-setting(row, flex-start, center);
    flex-wrap: nowrap;
    overflow-y: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar { width: 0; }
  }

  &__title {
    @extend .similar__title;
    align-self: flex-start;
  }

  &__link {
    @include font-setting($primary-font, 0.875rem, 1, 500, $text-primary);
    flex: 0 0 auto;
    padding: 6px 10px;
    margin: 0 5px 5px 0;
    box-sizing: border-box;
    border: 2px solid #C9E2E6;
    border-radius: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #C9E2E6;
      transition: all 0.1s $cubic;
    }

    &.active {
      background-color: #C9E2E6;
      transition: all 0.1s $cubic;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .cloud {
    width: 100%;

    padding-left: 0;
    padding-right: 0;

    &::after,
    &::before {
      display: none;
    }

    margin-bottom: 3rem;

    &__wrapper {
      @include flex-setting(row, flex-start, center);

      flex-wrap: wrap;
      overflow: auto;

      padding: 0;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .cloud {
    margin-bottom: 2rem;

    &__wrapper {
      max-height: 96px;
      overflow: hidden;
    }

    &--card {
      max-height: 100%;
      overflow: visible;
      margin-bottom: 5.75rem;
    }

    &__link {
      font-size: 1rem;
      margin-right: 0.933rem;
      margin-bottom: 1rem;
    }
  }
}
@media only screen and (min-width: $laptop-wide) {
  .cloud {
    margin-bottom: 2.938rem;
    &__wrapper {
      max-height: 116px;
    }

    &--card {
      max-height: 100%;
      overflow: visible;
      margin-bottom: 5.75rem;
    }

    &__link {
      font-size: 1.125rem;
      padding: 0.625rem 1.25rem;
    }
  }
}
