.footer-legal {
  align-self: flex-start;
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);
  padding: 1.25rem 1.25rem;


  &__wrap {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  &__copyright,
  &__policy {

    @include font-setting($primary-font, 0.875rem, 1rem, 700, #a0a0a0);
    text-align: left;
    text-decoration: none;
  }

  &__policy {
    margin-bottom: 1.25rem;
  }

  &__development {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);
    text-align: left;
    text-decoration: none;
  }

  &__development-link {
    @extend .footer-legal__development;
  }
}

@media only screen and (min-width: $tablet) {
  .footer-legal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;

    transition: 0.2s ease-in;

    padding-top: 1.25rem;
    max-width: 688px;

    &__wrap {
      @include flex-setting(column, flex-start, flex-start);
    }

    &__policy {
      margin-bottom: 0;
    }

    &__development {
      text-align: right;
      width: 50%;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .footer-legal {
    max-width: 944px;
    padding-left: 0;
    padding-right: 0;

    &__wrap {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__development {
      width: 20%;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .footer-legal {
    max-width: 1200px;
  }
}
