.footer-nav {
  @include flex-setting(column, flex-start, center);
  @include container;
  padding: 0 0.625rem;

  &__wrap {
    @include flex-setting(column, center, center);
    width: 100%;

    background-color: #FAF9F7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}


@media only screen and (min-width: $tablet) {
  .footer-nav {
    padding: 0 0.625rem;
  }
}
