.footer-legal {
  @include flex-setting(column, flex-start, flex-start);
  padding-bottom: 20px;

  &__copyright,
  &__policy {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, #a0a0a0);
    text-align: left;
    text-decoration: none;
  }

  &__policy {
    margin-bottom: 20px;
  }

  &__development {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);
    text-align: left;
    text-decoration: none;
  }

  &__development-link {
    @extend .footer-legal__development;
  }
}
