.footer-legal {
  align-self: flex-start;
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);
  padding: 0 0.625rem;
  padding-bottom: 1.25rem;

  &__wrap {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
  }

  &__copyright,
  &__policy {

    @include font-setting($primary-font, 0.75rem, 1rem, 600, #a0a0a0);
    text-align: left;
    text-decoration: none;
  }

  &__policy {
    margin-bottom: 1.25rem;
  }

  &__development {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);
    text-align: left;
    text-decoration: none;
  }

  &__development-link {
    @extend .footer-legal__development;
  }
}

@media only screen and (min-width: $tablet) {
  .footer-legal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    transition: 0.2s ease-in;

    padding: 0;
    max-width: 688px;

    margin-bottom: 2.5rem;

    &__policy {
      margin-bottom: 0;
    }

    &__development {
      text-align: right;
      width: 100%;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .footer-legal {
    max-width: 944px;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .footer-legal {
    max-width: 1200px;
  }
}
