html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  height: 100%;

  position: relative;

  color: #000000;
  font-family: $primary-font;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  .btn-top {
    position: fixed;

    bottom: 1rem;
    right: 1rem;

    background-color: #fff;
    border: 2px solid $btn-color;
    border-radius: 50%;

    width: 35px;
    height: 35px;

    z-index: 10;
    opacity: 1;
    transition: 0.2s ease-in;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);

    &__pic {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  .round-loupe {
    background-color: #fff;
     border-radius: 50%;
     border: 1px solid #F0F0F0;
     box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.body-sales {
  @media only screen and (min-width: 320px) {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .footer {
      width: 100%;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

.body-th {
  position: relative;
  width: 100%;

  @media only screen and (min-width: 768px) {
    &::after {
      position: absolute;
      content: '';

      width: 396px;
      height: 320px;

      background-image: url('../img/choice-hand.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;

      top: 35%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    &::after {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  @media only screen and (min-width: 1600px) {
    &::after {
      background-size: cover;
      width: 570px;
      height: 458px;

      top: 55%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  -webkit-appearance: none;
}
