html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  height: 100%;

  position: relative;

  color: #000000;
  font-family: $primary-font;

  background-image: url('../img/rainbow-bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.body--whywe {
  overflow-x: hidden;

  @media only screen and (min-width: $laptop) {
    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 1052px;
      height: 660px;

      background-image: url('../img/why-ruka.png');
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;

      top: 140px;
      right: 0;

      z-index: 4;
    }
  }

  @media only screen and (min-width: 1920px) {
    &::after {
      transform: scale(1.2);

      top: 190px;
      right: 0;
    }
  }
}

.body-sales {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  footer {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  -webkit-appearance: none;
}
