.header {
  width: 100%;

  position: relative;

  margin-bottom: 0.625rem;
  padding: 0 0.625rem;

  background-color: #FAF9F7;

  &--active {
    background-color: $menu-bg;
    backdrop-filter: blur(20px);

    z-index: 9999;
  }

  &__wrap {
    @include container;
  }

  /*Header on catalog page*/
  &--catalog {
    margin-bottom: 1.375rem;
  }
}
