.header-menu {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .header-menu {
    @include flex-setting(row, flex-start, center);

    width: auto;

    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      width: auto;
      margin-right: 3.125rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      @include font-setting($title-font, 1rem, 1.188rem, 400, $text-primary);
      width: 100%;
      height: 100%;

      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: $link-hover;
        transition: 0.1s ease-in;
      }
    }
  }
}
