.header-menu {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .header-menu {
    height: 39px;
    @include flex-setting(row, center, center);
    background-color: #DFDEDE;

    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    &__wrap {
      max-width: 100%;
      width: 100%;

      padding-left: 2.5rem;
      padding-right: 2.5rem;

      @include flex-setting(row, flex-start, center);
    }

    &__search {
      display: block;
      cursor: pointer;
      outline: none;

      width: 18px;
      height: 18px;

      background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 14l6 6M16 8.5c0 4.1421-3.3579 7.5-7.5 7.5C4.35786 16 1 12.6421 1 8.5 1 4.35786 4.35786 1 8.5 1 12.6421 1 16 4.35786 16 8.5z' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      background-color: transparent;
      border: none;

      padding: 0;

      &.active {
        opacity: 0;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .header-menu {
    &__wrap {
      max-width: 1200px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
