.header {
  width: 100%;
  position: relative;
  padding: 0;

  @include extra-padding;

  background-color: #F0EFED;

  z-index: 3;

  &.active {
    background-color: $menu-bg;
    backdrop-filter: blur(20px);

    z-index: 999;
  }

  /*Header on catalog page*/

  &--about {
    margin-bottom: 1.25rem;
  }

  &--whywe {
    margin-bottom: 1.875rem;
  }

  &--card {
    margin-bottom: 1.25rem;
  }

  &--contacts {
    margin-bottom: 1.5rem;
  }

  &--search {
    @include flex-setting(column, flex-start, center);
    .header__wrap {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .header {
    margin-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    /*Header on catalog page*/
    &--catalog {
      margin-bottom: 2.5rem;
    }

    &--about,
    &--whywe {
      margin-bottom: 2.5rem;
    }

    &--card {
      margin-bottom: 2.5rem;
    }

    &--contacts {
      margin-bottom: 1.5rem;
    }

    &--search {
      margin-bottom: 1.5rem;
      @include flex-setting(column, flex-start, center);
    }
  }
}

@media only screen and (min-width: $laptop) {
  .header {
    @include flex-setting(column, center, center);
    margin-top: 0;

    padding-left: 0;
    padding-right: 0;

    width: 100%;

    border-radius: 0;

    background-color: transparent;

    &__nav {
      order: 2;
    }

    &__menu {
      order: 1;
    }

    /*Header on catalog page*/
    &--catalog {
      margin-bottom: 3.125rem;
    }

    &--whywe {
      margin-bottom: 3.75rem;
    }

    &--card {
      margin-bottom: 2.5rem;
    }

    &--contacts {
      margin-bottom: 1.5rem;
    }

    &--search {
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .header {
    /*Header on catalog page*/
    &--catalog {
      margin-bottom: 2.5rem;
    }

    &--contacts {
      margin-bottom: 2.5rem;
    }

    &--about,
    &--whywe {
      margin-bottom: 4rem;
    }

    &--search {
      margin-bottom: 2.5rem;
    }
  }
}
