.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.3s ease-out, background 1s ease-out;
  transition-delay: 0.7s;
  width: 100%;
  @include flex-setting(row, space-between, flex-start);
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 60px;
  background: #F0EFED;
  z-index: 1;

  &.menu-fixed {
    position: fixed;
  }

  &.active {
    transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
    align-items: flex-start;
    height: 100%;
    background: $menu-bg;
    transition: all 0.3s ease-in, background 0.2s ease-in;
    transition-delay: 0.05s;
    overflow: visible;
    position: fixed;

    .nav-list__item {
      pointer-events: auto;
      transform: scale(1) translateY(0px);
      will-change: transform;
      opacity: 1;
      @for $i from 1 through $menuItems {
        &:nth-child(#{$i}) {
          transition-delay: #{0.06 * $i+0.2}s;
        }
      }

      &--search {
        pointer-events: all;
      }
    }

    .nav-controls__search {
      display: none;
      transition: all 0.3s ease-in;
      transition-delay: 0.3s;
    }
  }

  &__logo {
    width: 84px;
    height: 28px;
    padding-left: 1.25rem;

    &-image {
      object-fit: contain;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__description {
    display: none;
  }
}
@media only screen and (min-width: $mobile) {
  .header-nav {
    &.active {
      .nav-contacts {
        &__link {
          color: $text-secondary;
        }
      }
    }
  }
}
@media only screen and (min-width: $tablet) {
  .header-nav {
    &__logo {
      margin-left: 2.5rem;
      padding-left: 0;
    }
  }
}
@media only screen and (min-width: $laptop) {
  .header-nav {
    width: 100%;
    height: 100%;
    overflow: visible;
    padding: 0 2.5rem;
    @include flex-setting(row, space-between, center);
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    border-radius: 0;
    background-color: transparent;
    transition: none;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 12;

    &__logo {
      min-width: 161px;
      height: 60px;
      margin-left: 0;
      margin-right: 6.563rem;
      position: relative;
      padding-left: 0;

      &::after {
        position: absolute;
        content: 'c 1997';
        background-color: $upper-bg;
        width: 59px;
        height: 18px;
        @include font-setting($title-font, 0.75rem, 1, 700, $text-secondary);
        @include flex-setting(column, center, center);
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        top: -12px;
        right: -60px;
      }
    }
  }
}
@media only screen and (min-width: $laptop-wide) {
  .header-nav {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;

    &__logo {
      width: 188px;
      height: 70px;
      margin-right: 10rem;
    }
  }
}
