.item {
  @include flex-setting(column, flex-start, center);
  width: 100%;
  border: 2px solid #C9E2E6;
  border-radius: 5px;

  margin-bottom: 2.625rem;

  padding: 1.188rem 0.75rem 2.563rem 0.75rem;

  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    border-color: transparent;
    box-shadow: 0px 0px 60px rgba(57, 134, 30, 0.18);
    transition: 0.3s ease-in-out;
  }

  &:last-child {
    margin-bottom: 0;
  }

  /*Отключенный оверлей с инфо*/
  &__overlay {
    display: none;
  }

  &__link {
    @include flex-setting(column, center, center);
    width: 100%;

    text-decoration: none;
    cursor: pointer;
  }

  &__hover {
      display: none;
  }

  &__details {
    width: 100%;
    height: 100%;

    @include flex-setting(column, flex-start, flex-start);
  }

  &__controls {
    position: absolute;
    width: auto;
    @include flex-setting(row, flex-start, center);

    margin-bottom: 0;
    margin-top: auto;

    bottom: 1.188rem;
  }

  &__sign {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);
    @include flex-setting(row, space-between, center);

    padding-left: 0.75rem;
    padding-right: 0.5rem;

    text-align: center;
    margin-right: 0.5rem;

    &--latest {
      color: $text-secondary;
      background-color: $red-sign;
      border-radius: 3px;

      width: 88px;
      height: 22px;
    }

    &--sale {
      background-color: $yellow-sign;
      border-radius: 3px;

      width: 72px;
      height: 22px;

      display: none;
    }
  }

  &__pic {
    margin-left: 5px;
  }

  &__sign.hidden {
    display: none;
  }

  &__frame {
    @include flex-setting(column, center, center);
    margin-bottom: 1.25rem;

    width: 100%;

    height: 312px;
    max-height: 312px;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 100%;
      height: 2px;

      background-color: #C9E2E6;

      bottom: 0;
      left: 0;
    }
  }

  &__description {
    @include font-setting($title-font, 1rem, 1.25rem, 700, $text-primary);

    margin: 0;
    margin-bottom: 1.25rem;

    width: 100%;
  }

  &__articul {
    @include font-setting($primary-font, 0.938rem, 1.188rem, 400, $text-primary);
    margin: 0;
    margin-bottom: 0.625rem;

    &.empty {
      opacity: 0;
      min-height: 19px;
    }
  }

  &__options {
    @include flex-setting(column, flex-start, flex-start);
    margin-bottom: 1.25rem;

    &-item {
      @include flex-setting(row, flex-start, flex-start);
      @include font-setting($primary-font, 0.938rem, 1.188rem, 400, $text-primary);
      margin: 0;
      width: 100%;
      position: relative;
    }

    &-icon {
      margin-top: 3px;
      min-width: 9px;
      width: 9px;
      height: 10px;
      background-image: url('../img/dot.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 0.25rem;
    }

    &.empty {
      visibility: hidden;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .item {
    width: 216px;
    min-height: 462px;
    max-height: 462px;
    margin-bottom: 2.5rem;
    padding: 0.813rem 0.625rem 0.813rem 0.625rem;

    position: relative;

    &__frame {
      height: 242px;
      max-height: 242px;

      overflow: hidden;
    }

    &__image {
      max-height: 242px;
    }

    &__controls {
    position: relative;
      bottom: auto;
    }

    &__description {
      font-size: 0.875rem;
      line-height: 1.188rem;

      margin-bottom: 1.25rem;
      min-height: 38px;
    }

    &__articul {
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }

    &__hover {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.875rem, 1, 400, #000);

        background-color: #e4f1f3;
        border-radius: 5px;
        border: none;

        cursor: pointer;
        outline: none;

        width: 100%;
        height: 32px;

        margin-bottom: 1.25rem;

        transition: all 0.1s ease-in;

        &.active {
            background-color: #02778a;
            color: #fff;

            transition: all 0.1s ease-in;
        }

        &:hover,
        &:focus {
            background-color: #02778a;
            color: #fff;

            transition: all 0.1s ease-in;
        }
    }


    &__options {
      width: 192px;
      height: 243px;

      position: absolute;

      background-color: #fff;
      border-radius: 0;

      top: 0.625rem;

      padding: 0.625rem 0.625rem;

      opacity: 0;
      pointer-events: none;

      overflow: hidden;
      transition: all 0.2s ease-in;

      &.active {
          opacity: 1;
          transition: all 0.2s ease-in;
      }


      &-item {
        align-items: flex-start;
        display: inline;
        line-height: 1;
        width: auto;
        margin-right: 0;
        position: relative;
        padding-left: 0.75rem;

        margin-bottom: 0.625rem;

        color: #000;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
      }

      &-icon {
        background-image: url('../img/dot-2.svg');
        position: absolute;
        left: 0;
        top: 0px;
      }

      &--cat {
        .item__options-item {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .item {
    width: 222px;
    margin-bottom: 1.25rem;
    padding: 0.625rem 0.625rem;

    &__options {
        width: 198px;
        height: 240px;
        max-height: 240px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .item {
    width: 285px;
    min-height: 557px;
    max-height: 557px;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.25rem;

    &:last-child {
      margin-bottom: 1.25rem;
    }

    &__frame {
      height: 312px;
      max-height: 312px;
    }

    &__image {
      height: 312px;
      max-height: 312px;
    }

    &__description {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-bottom: 1.25rem;
    }

    &__hover {
        font-size: 1rem;
        height: 36px;
    }

    &__options {
        width: 241px;
        height: 310px;
        max-height: 310px;

        top: 1.25rem;

        padding: 1.25rem 0.625rem;

      &-item {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }

      &--cat {
        .item__options-item {
          font-size: 1rem;
        }
      }
    }

    &__articul {
      font-size: 1rem;
    }
  }
}
