.lang-list {
  @include flex-setting(row, center, center);
  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;

  margin-left: 0.563rem;

  &__item {
    position: relative;

    &:first-of-type {
      margin-right: 0.625rem;

      &::after {
        position: absolute;
        content: '/';

        @include font-setting($primary-font, 0.75rem, 1, 700, $text-secondary);

        right: -0.5rem;
        top: 60%;
        transform: translateY(-50%);
      }
    }
  }

  &__label {
    @include font-setting($primary-font, 0.75rem, 1, 700, $text-secondary);

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .lang-list {
    margin-left: 0.625rem;

    &__item {
      &:first-of-type {
        margin-right: 0.625rem;

        &::after {
          @include font-setting($title-font, 0.75rem, 0.875rem, 400, $text-primary);
        }
      }
    }

    &__label {
      cursor: pointer;
      outline: none;
      
      @include font-setting($title-font, 0.75rem, 0.875rem, 400, $text-primary);
    }
  }
}
