.main {
  @include flex-setting(column, flex-start, center);
  @include container;

  padding-top: 3.75rem;

  &--card {
    padding-top: 3.75rem;
  }
}

@media only screen and (min-width: 414px) {
  .main {
    padding-top: 3.75rem;

    &--about,
    &--whywe {
      max-width: 380px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main {
    padding-top: 3.75rem;

    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 688px;
      transition: 0.1s ease-in;

      padding-top: 2.5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main {
    padding-top: 0;

    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 944px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main {
    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 1200px;
    }
  }
}
