.main {
  @include flex-setting(column, flex-start, center);

  padding-top: 3.75rem;
  width: 100%;

  &--contacts,
  &--search,
  &--about,
  &--whywe {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      margin: 0 auto;
      width: 100%;
      padding-top: 3.75rem;
  }

  &--about {
      padding-top: 5rem;
  }

  &--card,
  &--catalog {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      margin: 0 auto;
      width: 100%;
    padding-top: 5rem;
  }
}

@media only screen and (min-width: 414px) {
  .main {

    &--about,
    &--whywe {
      max-width: 380px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main {
    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 688px;
      transition: 0.1s ease-in;
      padding-left: 0;
      padding-right: 0;

      padding-top: 5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main {
    padding-top: 0;

    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 944px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main {
    &--catalog,
    &--card,
    &--contacts,
    &--search,
    &--about,
    &--whywe {
      max-width: 1200px;
    }
  }
}
