.main {
  @include flex-setting(column, flex-start, center);
  @include container;
}

@media only screen and (min-width: $tablet) {
  .main {
    &--catalog,
    &--card,
    &--contacts {
      max-width: 688px;
      padding: 0;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main {
    &--catalog,
    &--card,
    &--contacts {
      max-width: 944px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main {
    &--catalog,
    &--card,
    &--contacts {
      max-width: 1200px;
    }
  }
}
