.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include flex-setting(row, flex-end, center);

  margin-left: auto;
  margin-right: 0;

  &__item {
    &--supply {
      padding-left: 1.313rem;
      padding-right: 1.313rem;
      border-right: 2px solid rgba(255, 255, 255, 0.2);
    }

    &--job {
      padding-left: 1.313rem;
      padding-right: 1.313rem;
      margin-right: 1.25rem;
      border-right: 2px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__link {
    @include font-setting($primary-font, 1rem, 1.063rem, 600, $text-secondary);
    transition: 0.1s ease-in;
    letter-spacing: 0.02rem;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $btn-color;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: $laptop) {
    .menu-list {
        transition: 0.6s $cubic;
        opacity: 1;
        transform: scale(1);
        transition-delay: 1.4s;
        pointer-events: all;

        z-index: 99;

        &.inactive {
          opacity: 0;
          transform: scale(0.8);
          transition: 0.6s $cubic;
          pointer-events: none;

          z-index: 99;
        }
    }
}

@media only screen and (min-width: $laptop-wide) {
  .menu-list {
    &__item {
      &--supply {
        padding-right: 2.563rem;
        padding-left: 2.563rem;
      }

      &--job {
        padding-left: 2.563rem;
        padding-right: 2.563rem;
        margin-right: 2.25rem;
      }
    }
  }
}
