.menu-contacts {
  width: auto;
  @include flex-setting(row, flex-start, center);
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    &--mail {
      padding-right: 1.313rem;
      border-right: 2px solid rgba(255, 255, 255, 0.2);
    }

    &--tel {
      padding-left: 1.313rem;
      margin-right: 1.25rem;
    }
  }

  &__link {
    @include font-setting($primary-font, 1rem, 1.188rem, 600, $text-secondary);
    transition: 0.1s ease-in;
    letter-spacing: 0.02rem;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: $btn-color;
      transition: 0.1s ease-in;
    }
  }

  &__call {
    position: relative;
    transition: 0.1s ease-in;
    background-color: transparent;
    border: none;
    padding-left: 3.063rem;
    padding-right: 0;
    cursor: pointer;
    outline: none;
    @include font-setting($primary-font, 1rem, 1.188rem, 600, $text-secondary);

    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5078 1.43359C15.8542 1.50651 16.0273 1.71615 16.0273 2.0625C16.0273 5.5625 14.7878 8.55208 12.3086 11.0312C9.82943 13.5104 6.83984 14.75 3.33984 14.75C2.99349 14.75 2.78385 14.5768 2.71094 14.2305L2.05469 11.3867C1.96354 11.0404 2.09115 10.7943 2.4375 10.6484L5.5 9.33594C5.79167 9.20833 6.04688 9.27214 6.26562 9.52734L7.60547 11.168C8.68099 10.6758 9.62891 10.0104 10.4492 9.17188C11.2878 8.33333 11.9531 7.38542 12.4453 6.32812L10.8047 4.96094C10.5495 4.76042 10.4857 4.50521 10.6133 4.19531L11.9258 1.13281C12.0716 0.804688 12.3177 0.686198 12.6641 0.777344L15.5078 1.43359Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2H6V0L9 2.5L6 5V3H0V2Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      color: $green;
      fill: $green;
    }
  }
}
@media only screen and (min-width: $laptop) {
    .menu-contacts {
        transition: 0.6s $cubic;
        opacity: 1;
        transform: scale(1);
        transition-delay: 1.4s;
        pointer-events: all;

        z-index: 99;

        &.inactive {
          opacity: 0;
          transform: scale(0.8);
          transition: 0.6s $cubic;
          transition-delay: 0.1s;

          pointer-events: none;

          z-index: 99;
        }
    }
}
@media only screen and (min-width: $laptop-wide) {
  .menu-contacts {
    &__item {
      &--mail {
        padding-right: 2.563rem;
      }

      &--tel {
        padding-left: 2.563rem;
        margin-right: 2.5rem;
      }
    }
  }
}
