.nav-contacts {
  @include flex-setting(column, flex-start, flex-end);
  width: auto;
  margin-right: 1.438rem;
  margin-left: auto;
  transition: 0.1s ease-in;

  display: none;

  &__link {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-secondary);
    text-decoration: none;
  }
}

@media only screen and (min-width: 414px) {
  .nav-contacts {
    display: flex;

    &__link {
      color: $text-primary;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .nav-contacts {
    margin-right: 2.5rem;
    display: flex;
  }
}
@media only screen and (min-width: $laptop) {
  .nav-contacts {
    display: none;
  }
}
