.nav-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 7rem;
  background: $menu-bg;
  position: absolute;
  overflow-y: scroll;
  top: 60px;

  &__item {
    pointer-events: none;
    width: 100%;

    @include flex-setting(column, center, flex-start);

    border-bottom: 1px solid #383838;

    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s $cubic, opacity 0.6s $cubic;

    @for $i from 1 through $menuItems {
      &:nth-child(#{$i}) {
        transition-delay: #{0.56 - ($i * 0.07)}s;
      }
    }

    &:last-of-type,
    &:first-of-type,
    &--contacts {
      border-bottom: none;
    }

    &--contacts {
      margin-bottom: 1.875rem;
    }

    &--search {
        width: 100%;
        height: 50px;
        background: #555555;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        border: none;
        cursor: text;
        outline: none;

        -webkit-appearance:none;
        z-index: 4;

        @include font-setting($primary-font, 1rem, 1.125rem, 400, #B7B7B7);

        padding-top: 0.938rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        margin-bottom: 1.25rem;

        position: relative;
        box-sizing: border-box;
        transition: 0.1s ease-in;

        pointer-events: none;

        /*При активном поиске*/
        &:active,
        &:focus,
        &:hover {
          background-color: #F0EFED;
          color: $text-primary;
          transition: 0.1s ease-in;
        }

        /*Скрыт при активном поиске*/

        &.hidden {
            visibility: hidden;
            pointer-events: none;
        }
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    @include font-setting($title-font, 1rem, 1rem, 700, $text-secondary);

    text-decoration: none;

    padding-top: 0.938rem;
    padding-bottom: 0.938rem;

    &.disabled {
      color: rgba(255, 255, 255, 0.2);
      pointer-events: none;
    }

    &-tel,
    &-mail,
    &-call {
      text-align: center;
      position: relative;

      border-left: 2px solid #555555;
    }

    &-call {
      background-color: transparent;
      border: none;
      border-left: 2px solid #555555;
    }
  }

  &__call {
    margin-top: 2.5rem;
  }

  &__btn {
    align-self: center;
    @include flex-setting(row, center, center);
    text-decoration: none;
    @include font-setting($title-font, 1.25rem, 1.625rem, 600, $text-secondary);

    padding: 0;
    padding-left: 3.563rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    background-color: #383838;
    border-radius: 5px;
    border: none;

    cursor: pointer;
    outline: none;

    position: relative;
    transition: 0.1s ease-in;

    margin-bottom: 0.625rem;

    &:hover,
    &:focus {
      .nav-list__link {
        color: $link-hover;
        transition: 0.1s ease-in;
      }
    }

    &-tel {
      &::after {
        position: absolute;
        content: '';

        width: 17px;
        height: 17px;

        background-image: url('../img/tel.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: 50%;
        transform: translateY(-50%);
        left: 1.25rem;
      }
    }

    &-mail {
      &::after {
        position: absolute;
        content: '';

        width: 17px;
        height: 13px;

        background-image: url('../img/mail.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: 50%;
        transform: translateY(-50%);
        left: 1.25rem;
      }
    }

    &-call {
      &::after {
        position: absolute;
        content: '';

        width: 20px;
        height: 16px;

        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5078 1.43359C15.8542 1.50651 16.0273 1.71615 16.0273 2.0625C16.0273 5.5625 14.7878 8.55208 12.3086 11.0312C9.82943 13.5104 6.83984 14.75 3.33984 14.75C2.99349 14.75 2.78385 14.5768 2.71094 14.2305L2.05469 11.3867C1.96354 11.0404 2.09115 10.7943 2.4375 10.6484L5.5 9.33594C5.79167 9.20833 6.04688 9.27214 6.26562 9.52734L7.60547 11.168C8.68099 10.6758 9.62891 10.0104 10.4492 9.17188C11.2878 8.33333 11.9531 7.38542 12.4453 6.32812L10.8047 4.96094C10.5495 4.76042 10.4857 4.50521 10.6133 4.19531L11.9258 1.13281C12.0716 0.804688 12.3177 0.686198 12.6641 0.777344L15.5078 1.43359Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2H6V0L9 2.5L6 5V3H0V2Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        top: 50%;
        left: 1rem;

        transform: translateY(-50%);
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .nav-list {
    margin-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &__link {
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .nav-list {
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    overflow-y: auto;

    width: auto;
    border: none;

    padding: 0;
    margin: 0;
    opacity: 1;

    transition: none;
    background: transparent;

    position: relative;
    top: auto;
    left: auto;
    transform: none;

    &__item {
      transition: none;
      transform: none;
      opacity: 1;
      display: flex;
      pointer-events: all;
      width: auto;
      border: none;

      padding: 0;
      margin-left: 2.5rem;

      &--supply,
      &--job {
        display: none;
      }

      &--contacts {
        margin-bottom: 0;
      }

      &--search {
          display: none;
      }
    }

    &__link {
      padding: 0;
      color: $text-primary;

      @include flex-setting(column, center, center);

      height: 126px;
      border-bottom: 4px solid transparent;

      &.disabled {
        color: #B9B9B9;
      }

      &:hover,
      &.active {
        color: $green;
        transition: 0.2s linear;
        border-color: $green;
      }
    }

    &__call {
      display: none;
    }

    &__btn {
        display: none;
    }
  }
}
