.nav-search {
  width: 88%;
  @include flex-setting(column, flex-start, center);
  margin-top: 1.25rem;
  margin-bottom: 0.938rem;

  opacity: 0;
  transition: all 0.5s  ease-in, opacity 0.5s  ease-in;
  transition-delay: 0.55s;
  pointer-events: none;

  position: fixed;
  top: 60px;
  left: auto;
  right: auto;

  z-index: 2;

  &.search {
    .search-result {
      display: flex;
    }

    .quicklinks {
      display: flex;
    }

    .search-result__lower {
      display: none;
    }
  }

  &__bg {
    display: none;
  }

  &__wrap {
    width: 100%;
  }

  &__form {
    width: 100%;
  }

  &__input {
    display: inline-flex;

    width: 100%;
    height: 50px;
    background: #555555;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    border: none;
    cursor: text;
    outline: none;

    -webkit-appearance:none;
    z-index: 4;

    @include font-setting($primary-font, 1rem, 1.125rem, 400, #B7B7B7);

    padding-top: 0.938rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    position: relative;
    box-sizing: border-box;
    transition: 0.1s ease-in;

    /*При активном поиске*/
    &:active,
    &:focus,
    &:hover {
      background-color: #F0EFED;
      color: $text-primary;
      transition: 0.1s ease-in;
    }

    &:focus {
      .search-result {
        display: flex;
      }

      .quicklinks {
        display: flex;
      }

      .search-result__lower {
        display: none;
      }
    }
  }

  &__reset{
    @include flex-setting(column, center, center);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.625rem;
    z-index: 10;

    outline: none;
  }

  &__pic,
  &__close {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-search {
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;
    position: fixed;
    transform: none;
    opacity: 1;
    transition: none;
    pointer-events: all;
    width: 100vw;
    height: 39px;
    left: 0;
    top: -20px;

    background: #000000;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);

    z-index: 4;

    opacity: 0;
    pointer-events: none;
    transition: all 0.5s $cubic;

    &.active {
      opacity: 1;
      pointer-events: all;
      transition: all 0.5s $cubic;

      .header-nav {
        max-width: 100%;
      }

      .search-result {
        display: flex;
      }

      .search-result__lower {
        display: none;
      }

      .nav-search__bg {
        display: flex;
        position: absolute;

        width: 100vw;
        height: 100vh;

        background-color: #666666;
        top: 39px;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: -2;
      }
    }

    &.asked {
      .quicklinks {
        display: none;
      }

      .search-result__lower {
        display: flex;
        max-height: 580px;
        overflow: visible;
      }

      .search-result__title {
        display: flex;
        align-self: flex-start;
      }
    }


    &__wrap {
      @include flex-setting(row, space-between, center);
      height: 39px;
      max-width: 800px;

      position: relative;
    }

    &__form {
      width: 100%;
      max-width: 800px;
    }

    &__input {
      height: 30px;
      background: transparent;
      box-shadow: none;
      border-radius: none;
      border: none;
      max-width: 400px;

      font-size: 1.125rem;
      line-height: 1.375rem;
      color: rgba(255, 255, 255, 0.3);

      padding-top: 0.5rem;
      padding-bottom: 0.625rem;
      padding-left: 0;
      padding-right: 0;

      transition: 0.1s ease-in;

      /*При активном поиске*/
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
        color: $text-secondary;
        transition: 0.1s ease-in;
      }
    }

    &__reset {
      display: none;
    }

    &__close,
    &__pic {
      display: block;
      cursor: pointer;

      z-index: 10;
      width: 20px;
    }

    &__close {
      position: absolute;
      right: 0;
    }

    &__pic {
      position: absolute;
      left: -2.25rem;
      margin-right: 1.25rem;
    }
  }
}
