.nav-search {
  width: 100%;

  @include flex-setting(column, flex-start, center);
  margin-top: 1.25rem;
  margin-bottom: 0.938rem;

  opacity: 0;
  transition: all 0.5s  ease-in, opacity 0.5s  ease-in;
  transition-delay: 0.55s;
  pointer-events: none;

  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;

  &.active {
      opacity: 1;
      transform: scale(1) translateY(0px) translateX(-50%);
      transition-delay: 0.12s;
      pointer-events: all;

      &.asked {
        .search-result {
            display: flex;
        }

        .search-result__lower {
            display: none;
        }

        .nav-search__input {
            margin-right: 1rem;
        }

        .nav-search__close {
          display: inline-flex;
        }

        .nav-search__reset {
          display: flex;
        }
      }

      &.search {
        .search-result {
            display: flex;
        }

        .search-result__lower {
          display: flex;
        }

        .quicklinks {
            display: none;
        }

        .nav-search__input {
            margin-right: 1rem;
        }

        .nav-search__close {
          display: inline-flex;
        }

        .nav-search__reset {
          display: flex;
        }
      }
  }

  &__bg {
      opacity: 0;
      pointer-events: none;
      z-index: -999;
  }

  &__wrap {
    width: 100%;
    @include flex-setting(row, space-between, center);
  }

  &__form {
      @include flex-setting(row, space-between, center);
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      width: 100%;
  }

  &__input {
    display: inline-flex;

    width: 100%;
    height: 50px;
    background: #F0EFED;
    border-radius: 5px;

    border: none;
    cursor: text;
    outline: none;

    -webkit-appearance:none;
    z-index: 4;

    @include font-setting($primary-font, 1rem, 1.125rem, 400, #B7B7B7);

    padding-top: 0.938rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-right: 0;

    position: relative;
    box-sizing: border-box;
    transition: 0.1s ease-in;

    /*При активном поиске*/
    &:active,
    &:focus,
    &:hover {
      background-color: #F0EFED;
      color: $text-primary;
      transition: 0.1s ease-in;
    }

    &:focus {
      .search-result {
        display: flex;
      }

      .quicklinks {
        display: flex;
      }

      .search-result__lower {
        display: none;
      }
    }
  }

  &__reset{
    @include flex-setting(column, center, center);
    width: 17px;
    min-width: 17px;
    max-width: 17px;
    max-height: 17px;
    height: 17px;
    min-height: 17px;
    background-color: #908F94;
    border-radius: 50%;
    border-radius: 8.5px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6.25rem;
    z-index: 10;

    outline: none;
    cursor: pointer;

    display: none;
    padding: 0;

    &-icon {
        transform: scale(1.4);
    }
  }

  &__pic {
    display: none;
  }

  &__close {
    @include font-setting($primary-font, 1rem, 1.125rem, 700, #00778B);
    padding: 0;
    z-index: 10;
    background-color: transparent;
    border: none;

    display: none;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: 768px) {
    .nav-search {
        &__form {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        &__reset {
            right: 8.25rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
  .nav-search {
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;

    position: fixed;

    width: 100vw;
    height: 40px;
    left: 50%;
    top: -20px;

    transform: none;
    transform: translateX(-50%);

    background: #000000;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    z-index: 12;

    opacity: 0;
    pointer-events: none;
    transition: all 0.6s linear;
    transform-origin: bottom;
    transition-delay: 1s;

    &.active {
      opacity: 1;
      height: 60px;
      pointer-events: all;
      transition: none;
      transform: translateX(-50%);

      .nav-search__wrap {
          opacity: 1;
          pointer-events: all;
          position: absolute;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.6s linear;
          transition-delay: 0;
      }

      .nav-search__pic {
          left: 0;
          opacity: 1;

          transition: 0.4s $cubic;
          transition-delay: 0.5s;
      }

      .nav-search__input {
          left: 2.375rem;
          opacity: 1;
          transition: 0.6s $cubic;
          transition-delay: 0.5s;
      }

      .nav-search__close {
          opacity: 1;
          transition: 0.6s $cubic;
          transition-delay: 0.5s;
      }

      .search-result {
          top: 60px;
          transition-delay: 0.6s;
          transform: scaleY(1) translateX(-50%);
          transform-origin: top;

          max-height: 820px;
          opacity: 1;
          overflow: visible;
          visibility: visible;

          z-index: 2;
          transition: all 0.5s linear;

          padding-top: 1.875rem;
      }

      .quicklinks {
          opacity: 1;
          pointer-events: all;
          transition: all 0.4s linear;
          transition-delay: 0.6s;
          transform: translateX(0px);
          transform-origin: right;
      }

      .search-result__lower {
          display: none;
      }

      &.asked {
        .search-result__lower {
            max-height: 580px;
        }

        .nav-search__reset {
          display: none;
        }
      }

      &.search {
          .search-result__title {
            display: flex;
            align-self: flex-start;
          }

          .nav-search__reset {
            display: none;
          }
      }

      .header-nav {
        max-width: 100%;
      }

      .nav-search__bg {
        position: absolute;
        opacity: 1;
        pointer-events: all;

        width: 100vw;
        height: 100vh;

        background-color: #666666;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: -2;

        transition: 0.2s $cubic;
        transition-delay: 0.1s;
      }
    }

    &__bg {
        opacity: 0;
        transition: 0.2s $cubic;
        transition-delay: 0.1s;
    }

    &__wrap {
      @include flex-setting(row, space-between, center);
      height: 60px;
      max-width: 800px;

      position: absolute;

      top: 0;
      opacity: 0;
      pointer-events: none;

      transition: opacity 0.4s linear;
      transition-delay: 1.2s;
    }

    &__form {
      width: 100%;
      max-width: 800px;

      padding-right: 0;
      padding-left: 2.375rem;

      justify-content: space-between;
    }

    &__input {
      height: 30px;
      background: transparent;
      box-shadow: none;
      border-radius: none;
      border: none;
      max-width: 400px;

      font-size: 1.375rem;
      line-height: 1.375rem;
      color: rgba(255, 255, 255, 0.3);

      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      position: absolute;
      opacity: 0;
      left: 4.5rem;

      transition: all 0.3s $cubic;
      transition-delay: 0.6s;

      /*При активном поиске*/
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
        color: $text-secondary;
      }
    }

    &__reset {
        display: none;
    }

    &__close,
    &__pic {
      display: block;
      cursor: pointer;

      z-index: 10;
      width: 20px;
    }

    &__close {
      position: relative;
      right: 0;
      width: auto;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.4);
      opacity: 0;

      padding-left: 2.25rem;

      &::after {
          position: absolute;
          content: '';

          width: 16px;
          height: 16px;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L1 17M17 17L1 1' stroke='%23FF1300' stroke-width='2'/%3E%3C/svg%3E%0A");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;

          left: 0;
          top: 0;
      }
    }

    &__pic {
      position: absolute;
      left: 1.25rem;
      opacity: 0;
      margin-right: 1.25rem;
      transition: all 0.3s $cubic;
      transition-delay: 0.6s;
    }
  }
}
