.nav-contacts {
  display: none;
}

@media only screen and (min-width: $mobile) {
  .nav-contacts {
    @include flex-setting(column, flex-start, flex-end);

    width: auto;
    margin-right: 1.438rem;
    margin-left: auto;

    transition: 0.1s ease-in;

    &__link {
      @include font-setting($primary-font, 0.75rem, 1rem, 700, $text-primary);
      text-decoration: none;
    }

    &.active {
      .nav-contacts__link {
        color: $text-secondary;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .nav-contacts {
    margin-right: 2.5rem;
  }
}

@media only screen and (min-width: $laptop) {
  .nav-contacts {
    display: none;
  }
}
