.popup-policy {
  @include flex-setting(column, flex-start, center);

  position: fixed;
  bottom: 5%;

  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 300px;

  padding: 0.625rem 0.625rem;

  background-color: #000;
  border-radius: 4px;

  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

  animation: anim 2s;

  z-index: 100;

  @keyframes anim {
    0% {
      bottom: -100%;
    }
    20% {
      bottom: -100%;
    }

    40% {
      bottom: -100%;
    }

    60% {
      bottom: 6%;
    }

    80% {
      bottom: 4%;
    }

    100% {
      bottom: 5%;
    }
  }

  &__text {
    @include font-setting($primary-font, 0.875rem, 1.125rem, 400, #fff);
    text-align: center;

    margin-bottom: 0.875rem;
  }

  &__link {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      transition: 0.1s ease-in;
    }
  }

  &__close {
    width: 130px;
    height: 50px;

    background: $btn-color;
    border-radius: 4px;

    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1.125rem, 1, 400, #fff);

    border: none;

    cursor: pointer;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $btn-hover;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: 375px) {
  .popup-policy {
    max-width: 90%;

    padding: 1rem 1rem;

    &__text {
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;

      margin-bottom: 1.25rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .popup-policy {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;

    padding: 1rem 1rem;

    transition: 0.1s ease-in;

    &__text {
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-align: left;

      margin-bottom: 0;
      margin-right: 1.25rem;

      transition: 0.1s ease-in;
    }

    &__close {
      min-width: 130px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .popup-policy {
    left: 40px;
    transform: none;

    max-width: 715px;

    padding: 1.25rem 1.25rem;

    &__text {
      font-size: 0.875rem;
      line-height: 1.188rem;

      margin-bottom: 0;
      margin-right: 2.5rem;

      max-width: 507px;
    }
  }
}
