.search-result {
  @include flex-setting(column, flex-start, flex-start);

  transition: 0.1s ease-in;

  background-color: #ffffff;
  position: absolute;

  width: calc(100% + 20px);
  left: -10px;
  top: -10px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  padding-top: 5.5rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 1.875rem;

  &__title {
    display: none;
  }

  /*Нижняя часть*/
  &__lower {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
  }

  &__link {
    @include flex-setting(row, center, center);
    @include font-setting($primary-font, 1.125rem, 1.375rem, 600, $text-secondary);

    text-align: center;
    text-decoration: none;

    padding-left: 1.413rem;
    padding-right: 1.413rem;
    height: 50px;

    background-color: $btn-color;
    border-radius: 5px;

    align-self: center;
    margin-bottom: 0.625rem;

    &:hover,
    &:active {
      background-color: $blue;
      transition: 0.1s ease-in;
    }
  }

  &__reset {
    align-self: center;
    @include font-setting($primary-font, 0.75rem, 1rem, 600, #828C98);
    letter-spacing: 0.01em;

    background-color: transparent;
    border: none;

    border-bottom: 1px dashed #828C98;

    padding: 0;

    cursor: pointer;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      border-color: $link-hover;
      transition: 0.1s ease-in-out;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .search-result {
    &__reset {
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .search-result {
    display: flex;
    align-items: center;
    width: 100%;
    top: 39px;
    left: auto;
    right: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    max-width: 800px;
    max-height: 0;

    z-index: 999;

    padding-top: 1.875rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;

    opacity: 0;
    transition: transform 0.5s $cubic, opacity 0.6s $cubic;

    &.active {
      max-height: 1200px;
      opacity: 1;
    }

    &__lower {
      display: none;
    }

    &__link {
      align-self: flex-start;
    }
  }
}
