.search-result {
  @include flex-setting(column, flex-start, flex-start);

  transition: 0.1s ease-in;

  position: absolute;
  z-index: 0;

  background-color: #ffffff;

  width: auto;
  left: -10px;
  right: -10px;
  top: -10px;

  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  padding-top: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.75rem;

  &__title {
    display: none;
  }

  /*Нижняя часть с результатами поиска*/
  &__lower {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
  }

  &__link {
    @include flex-setting(row, center, center);
    @include font-setting($title-font, 1.125rem, 1.188rem, 700, $text-secondary);

    text-align: center;
    text-decoration: none;

    width: 232px;
    height: 50px;

    background-color: $btn-color;
    border-radius: 5px;

    align-self: center;
    margin-bottom: 0.625rem;

    &:hover,
    &:active {
      background-color: $blue;
      transition: 0.1s ease-in;
    }
  }

  &__reset {
    align-self: center;
    @include font-setting($primary-font, 0.875rem, 1rem, 600, #828C98);
    letter-spacing: 0.01em;

    background-color: transparent;
    text-decoration: none;
    border: none;

    padding: 0;

    cursor: pointer;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      border-color: $link-hover;
      transition: 0.1s ease-in-out;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .search-result {
    &__reset {
      align-self: center;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .search-result {
    display: flex;
    align-items: center;
    width: 100%;
    top: 50px;
    left: auto;

    max-height: 0;
    overflow: hidden;

    padding: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;

    &.active {
      padding-top: 1.875rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 2.5rem;

      max-height: 828px;
      max-width: 800px;

      top: 36px;

      transition: max-height 0.2s ease-in;
    }

    &__link {
      align-self: flex-start;
      margin-bottom: 1.25rem;
    }

    &__reset {
      align-self: flex-start;
      font-size: 1.125rem;
      line-height: 1rem;
    }
  }
}
