$mobile: 375px;
$hdm: 414px;
$tablet: 768px;
$laptop: 1024px;
$laptop-hd: 1280px;
$laptop-wide: 1366px;
$widebook-sm: 1440px;
$widebook-hd: 1600px;
$hd: 1920px;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 7;

$blue: #00778B;
$green: #84AA32;
$hacky: #427E5D;

$text-primary: #000000;
$placeholder-text: #a0a0a0;
$text-secondary: #ffffff;
$text-error: #f44336;

$red-sign: #FF1300;
$yellow-sign: #FFE600;

$link-hover: $green;

$btn-color: $green;
$btn-hover: $green;
$more-hover: $blue;

$menu-bg: #292929;
$recall-bg: $blue;
$upper-bg: $blue;

$title-font: "Montserrat", sans-serif;
$primary-font: "Lato", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $placeholder-text;
$baseFontFamily: $primary-font;
