$mobile: 375px;
$hdm: 414px;
$smt: 600px;
$tablet: 768px;
$laptop: 1024px;
$laptop-hd: 1280px;
$laptop-wide: 1366px;
$widebook-sm: 1440px;
$widebook-hd: 1600px;
$hd: 1920px;

$text-primary: #000000;
$placeholder-text: #a0a0a0;
$text-secondary: #ffffff;
$text-form: #8edce0;
$text-error: #f44336;

$red-sign: #FF1300;
$yellow-sign: #FFE600;

$link-hover: #84AA32;
$social-hover: #ff6700;

$bg-body: #cacaca;
$bg-header: #ff6700;
$bg-footer: #19181c;

$btn-color: #84AA32;

$menu-bg: #483F3A;

$title-font: "Rubik", sans-serif;
$primary-font: "Open Sans", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $placeholder-text;
$baseFontFamily: $primary-font;
