.contacts {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  padding: 0 0.625rem;

  &__title {
    @include font-setting($title-font, 2rem, 2.375rem, 500, $text-primary);
    margin: 0;
    margin-bottom: 2.5rem;

    align-self: flex-start;
  }

  &__wrap {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
  }

  &__info {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);

    margin-bottom: 4.125rem;
  }

  /*Кнопка заказа обратного звонка*/
  &__recall {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);
    background-color: $btn-color;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    align-self: center;

    width: 280px;
    height: 60px;

    margin-bottom: 0.438rem;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
  &__recall-note {
    @include font-setting($primary-font, 0.75rem, 1rem, 700, #c4c4c4);
    text-align: center;
    align-self: center;
  }
}

@media only screen and (min-width: $tablet) {
  .contacts {
    padding: 0 2.5rem;

    &__title {
      margin-bottom: 3.375rem;
    }

    &__wrap {
      @include flex-setting(row, space-between, flex-start);

      margin-bottom: 5.625rem;
    }

    &__info {
      max-width: 280px;
      margin-bottom: 0;
      margin-right: 2.5rem;
    }
  }
}
