.contacts {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  padding: 0 0.625rem;

  &__title {
    @extend .production__title;
    padding-left: 0 !important;
  }

  &__wrap {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
  }

  &__info {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);

    margin-bottom: 2.5rem;
  }

  /*Кнопка заказа обратного звонка*/
  &__recall,
  &__route {
    @include flex-setting(column, center, center);
    @include font-setting($title-font, 1.125rem, 1.625rem, 700, $text-secondary);
    background-color: $btn-color;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    align-self: center;

    width: 280px;
    height: 60px;

    margin-bottom: 0.438rem;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }

  &__route {
    margin-bottom: 1.25rem;
  }
}

@media only screen and (min-width: $tablet) {
  .contacts {
    padding: 0;

    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    &__wrap {
      @include flex-setting(row, space-between, flex-start);

      margin-bottom: 6.063rem;
    }

    &__info {
      max-width: 285px;
      margin-bottom: 0;
      margin-right: 2.313rem;
    }

    &__recall {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .contacts {
    &__wrap {
      margin-bottom: 6.25rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .contacts {
    &__title {
      font-size: 2.625rem;
      margin-bottom: 5.625rem;
    }

    &__wrap {
      margin-bottom: 8.125rem;
    }

    &__info {
      width: 360px;
      max-width: 360px;

      align-items: flex-start;
    }

    &__recall,
    &__route {
      align-self: flex-start;
    }
  }
}
