.contact-list {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 3.938rem;

  &__item {
    margin-bottom: 1.25rem;
    width: 100%;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tabItem--active {
    .contact-list__link {
      opacity: 0.6;
      border-bottom: none;
      transition: 0.1s ease-in;
    }
  }


  &__link {
    @include font-setting($title-font, 1.125rem, 1.5rem, 700, $text-primary);
    text-decoration: none;
    opacity: 1;
    pointer-events: none;

    border-bottom: none;
    transition: 0.1s ease-in;
    border-bottom: 2px solid #84AA32;
  }
}

@media only screen and (min-width: $tablet) {
  .contact-list {
    @include flex-setting(row, flex-start, center);
    flex-wrap: wrap;
    margin-bottom: 3.75rem;

    &__item {
      margin-bottom: 1.25rem;
      width: auto;

      margin-right: 3.75rem;

      &:nth-child(3) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .contact-list {
    margin-bottom: 4.75rem;
    
    &__item {
      margin-bottom: 0;
    }
  }
}
