.contact-list {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 3.938rem;

  &__item {
    margin-bottom: 1.25rem;
    width: 100%;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tabItem--active {
    .contact-list__link {
      opacity: 1;
      transition: 0.1s ease-in;
      border: none;
    }
  }


  &__link {
    @include font-setting($primary-font, 1rem, 1.375rem, 700, $text-primary);
    text-decoration: none;
    opacity: 0.6;
    border-bottom: 1px solid #84AA32;
  }
}

@media only screen and (min-width: $tablet) {
  .contact-list {
    @include flex-setting(row, flex-start, center);
    flex-wrap: wrap;
    margin-bottom: 4.313rem;

    &__item {
      margin-bottom: 1.375rem;
      width: auto;

      margin-right: 3.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .contact-list {
    margin-bottom: 4.625rem;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .contact-list {
    &__item {
      margin-bottom: 0;
    }
  }
}
