.company-controls {
  width: 100%;

  @include flex-setting(column, center, center);

  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;

  border: 2px solid #00778B;
  border-radius: 5px;

  margin-bottom: 1.875rem;

  &__item {
    padding: 0.625rem 0.625rem;
    width: 100%;

    cursor: pointer;

    @include flex-setting(column, center, center);

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom: 2px solid #00778B;
    }

    &:nth-child(1) {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover,
    &:active {
      background-color: $blue;
      transition: 0.1s ease-in;
    }
  }

  &__item.tabItem--active {
    background-color: $blue;

    .company-controls__link {
      color: $text-secondary;
    }
  }

  &__link {
    @include font-setting($primary-font, 1.125rem, 1.375rem, 600, $text-primary);
    text-decoration: none;
    pointer-events: none;
  }
}

@media only screen and (min-width: $tablet) {
  .company-controls {
    max-width: 100%;
    width: 100%;
    align-self: center;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin-bottom: 2.5rem;

    &__item {
      width: auto;
      transition: 0.1s ease-in;
      padding: 0.563rem 0.688rem;

      border-right: 2px solid #00778B;

      &:last-child {
        border-right: none;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        @include flex-setting(column, center, center);
        border-right: 2px solid #00778B;
      }

      &:nth-child(2),
      &:nth-child(4) {
        @include flex-setting(column, center, center);
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-bottom: none;
      }

      &:nth-child(1) {
        border-top-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &__link {
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 400;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .company-controls {
    width: auto;
    align-self: flex-start;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .company-controls {
    margin-bottom: 3.75rem;

    &__item {
      width: auto;
      padding: 1.063rem 1.75rem;
    }

    &__link {
      font-size: 1.375rem;
      line-height: 1.375rem;
    }
  }
}
