.req-item {
  width: 100%;
  margin-bottom: 3.75rem;

  &__info {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    &--general {
      margin-bottom: 3.75rem;
    }
  }

  &__header {
    padding: 1rem 0 0 0;
    width: 100%;

    border-bottom: 1px solid #DFDFDF;
  }

  &__title {
    @include font-setting($title-font, 1.125rem, 1.25rem, 700, $text-primary);
    text-align: left;

    margin: 0;
    margin-bottom: 1.25rem;
  }

  &__subtitle {
    @include font-setting($title-font, 1.125rem, 1.25rem, 700, $text-primary);
    text-align: left;

    margin: 0;
    margin-bottom: 0.625rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include flex-setting(column, flex-start, center);

    width: 100%;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    border: 1px solid #00778B;
    border-radius: 5px;
  }

  &__line {
    width: 100%;

    @include flex-setting(row, flex-start, flex-start);

    padding: 0.75rem 0;

    border-bottom: 1px solid #DFDFDF;

    &:last-child {
      border: none;
    }

    &-title {
      @include font-setting($primary-font, 1rem, 1.25rem, 700, $text-primary);
      width: 50%;
    }

    &-description {
      @include font-setting($primary-font, 1rem, 1.25rem, 400, $text-primary);
      width: 50%;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .req-item {
    margin-bottom: 3.75rem;

    &__info {

      &--general {
        margin-bottom: 2.5rem;
      }
    }

    &__header {
      padding-top: 1.188rem;
    }

    &__title {
      line-height: 1.5rem;
      margin-bottom: 1.25rem;
    }

    &__subtitle {
     font-size: 1.5rem;
     line-height: 1.625rem;
     margin-bottom: 1.125rem;
    }

    &__list {
      padding-left: 1.188rem;
      padding-right: 1.188rem;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .req-item {
    margin-bottom: 3.75rem;
    &__info {
      &--general {
        margin-bottom: 3.75rem;
      }
    }

    &__line {
      &-title {
        width: 40%;
      }

      &-description {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .req-item {
    &__list {
      margin-bottom: 0;
      width: 800px;
    }

    &__line {
      &-title {
        max-width: 250px;
      }
    }
  }
}
