.team {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 2.5rem;

  &__item {
    margin-bottom: 1.25rem;
    width: 100%;
    cursor: pointer;
    outline: none;
  }

  &__link {
    @include font-setting($title-font, 1.125rem, 1.5rem, 700, $text-primary);
    text-decoration: none;
    opacity: 1;
    pointer-events: none;

    border-bottom: none;
    transition: 0.1s ease-in;
    border-bottom: 2px solid #84AA32;
  }

  &__item.subtabItem--active {
    .team__link {
      opacity: 0.6;
      border-bottom: none;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .team {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 2.5rem;

    &__item {
      width: auto;
      margin-bottom: 0;
      margin-right: 3.75rem;
    }
  }
}
