.cat-description {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  margin-bottom: 5.188rem;
  padding: 0 0.625rem;

  &__container {
    @include flex-setting(column, flex-start, flex-start);

    width: 100%;
    max-height: 110px;
    min-height: 110px;

    overflow-y: hidden;

    margin-bottom: 2.5rem;

    transition: max-height 400ms ease-in-out;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 100%;
      height: 50px;

      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.active {
      max-height: 4000px;
      transition: max-height 400ms ease-in-out;

      &::after {
        display: none;
      }
    }
  }

  &__subtitle {
    @include font-setting($title-font, 1.5rem, 1.75rem, 700, $text-primary);
    margin: 0;

    margin-bottom: 1.25rem;
  }

  &__text {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);
    margin: 0;
    margin-bottom: 0.625rem;

    &-head {
      @include font-setting($primary-font, 1rem, 1.25rem, 700, $text-primary);
      margin: 0;

      margin-bottom: 1.25rem;
    }

    &-link {
      text-decoration: none;
      color: $text-primary;

      &:hover,
      &:active,
      &:focus {
        color: $link-hover;
        transition: 0.1s ease-in;
      }
    }
  }

  &__expand {
    @include font-setting($title-font, 1.125rem, 1.563rem, 700, $text-secondary);
    @include flex-setting(column, center, center);
    text-decoration: none;
    text-align: center;

    background-color: $btn-color;
    border: none;

    align-self: center;

    width: 220px;
    height: 60px;

    border-radius: 5px;

    cursor: pointer;
    outline: none;

    transition: 0.1s ease-in;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .cat-description {
    padding: 0;
  }
}

@media only screen and (min-width: $laptop) {
  .cat-description {
    &__container {
      &::after {
        bottom: 20px;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .cat-description {
    margin-bottom: 5.188rem;
    padding: 0;

    &__container {
      &::after {
        bottom: 20px;
      }
    }

    &__subtitle {
      font-size: 2rem;
      line-height: 2.25rem;
      margin-bottom: 2.5rem;
    }

    &__expand {
      font-size: 1.25rem;
    }
  }
}
