.catalog-list {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  margin-bottom: 2.5rem;
  /*Переключение на раскалдку гридами*/
  &.grid {
    @include flex-setting(row, space-between, flex-start);
    flex-wrap: wrap;

    .item {
      width: 46.4%;
      height: 362px;

      padding: 0.438rem 0.313rem;
      padding-bottom: 1rem;

      margin-bottom: 1.25rem;

      &__link {
        align-items: center;
      }

      &__frame {
        max-height: 150px;
        width: 100%;
        min-width: 120px;
        max-width: 120px;

        margin-bottom: 0.688rem;
      }

      &__controls {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      &__sign {
        margin-bottom: 0.25rem;
      }

      &__image {
        width: 100%;
        max-height: 150px;
      }

      &__description {
        font-size: 0.688rem;
        line-height: 0.938rem;
        font-weight: 700;

        padding-bottom: 2.5rem;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .catalog-list {
    @include flex-setting(row, flex-start, flex-start);
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: 2.5rem;

    &__item:nth-child(2n+1) {
      margin-right: 1.25rem;
    }

    &__item:nth-child(3n+3) {
      margin-right: 1.25rem;
    }

    &__item:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .catalog-list {
    margin-bottom: 2.5rem;

    &__item:nth-child(3n) {
      margin-right: 0;
    }

    &__item:nth-child(2n+2) {
      margin-right: 0;
    }

    &__item:nth-child(3n+1) {
      margin-right: 1.25rem;
    }

    &__item:nth-child(3n-1) {
      margin-right: 1.25rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .catalog-list {
    margin-bottom: 2.625rem;
  }
}
