.catalog {
    width: 100%;
  padding: 0 0.625rem;
  @include flex-setting(column, flex-start, center);

  &__wrapper {
    width: 100%;
    @include flex-setting(column, flex-start, center);
  }

  &__more {
    align-self: center;

    @include flex-setting(column, center, center);
    @include font-setting($title-font, 1.25rem, 1.625rem, 600, $text-secondary);

    width: 280px;
    height: 60px;

    background: $btn-color;
    border-radius: 5px;

    text-decoration: none;

    margin-bottom: 2.5rem;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }

  &__counter {
      @include font-setting($primary-font, 1.125rem, 1, 500, #000);
      align-self: flex-start;
      margin-bottom: 0.625rem;
  }
}

@media only screen and (min-width: $tablet) {
  .catalog {
    width: 100%;
    padding: 0;

    position: relative;

    @include flex-setting(row, space-between, flex-start);

    &__wrapper {
      width: 100%;
      @include flex-setting(column, flex-start, center);
    }

    &__more {
      margin-bottom: 2.5rem;
    }

    &__counter {
        font-size: 1.5rem;
        align-self: flex-start;
        margin-bottom: 2.5rem;
    }
  }
}
