.catalog-list {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  margin-bottom: 2.5rem;
  /*Переключение на раскалдку гридами*/
  &.grid {
    @include flex-setting(row, space-between, flex-start);
    flex-wrap: wrap;

    .item {
      width: 46.4%;
      height: 362px;

      padding: 0.438rem 0.313rem;
      padding-bottom: 1rem;

      margin-bottom: 1.25rem;

      &__link {
        align-items: center;
      }

      &__frame {
        max-height: 150px;
        width: 100%;
        min-width: 120px;
        max-width: 120px;

        margin-bottom: 0.688rem;
      }

      &__controls {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      &__sign {
        margin-bottom: 0.25rem;
      }

      &__image {
        width: 100%;
        max-height: 150px;
      }

      &__description {
        font-size: 0.688rem;
        line-height: 0.938rem;
        font-weight: 700;

        padding-bottom: 2.5rem;
      }
    }
  }
}
