.catalog {
  padding: 0 0.625rem;

  &__wrapper {
    width: 100%;
    @include flex-setting(column, flex-start, center);
  }

  &__more {
    align-self: center;

    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);

    width: 280px;
    height: 60px;

    background: $btn-color;
    border-radius: 5px;

    text-decoration: none;

    margin-bottom: 1.875rem;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .catalog {
    width: 100%;
    padding: 0 2.5rem;

    position: relative;

    @include flex-setting(row, space-between, flex-start);

    &__wrapper {
      width: 100%;
      @include flex-setting(column, flex-start, center);
    }

    &__more {
      align-self: center;

      @include flex-setting(column, center, center);
      @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);

      width: 280px;
      height: 60px;

      background: $btn-color;
      border-radius: 5px;

      text-decoration: none;

      margin-bottom: 1.875rem;

      &:hover,
      &:active {
        @include btn-hover;
      }
    }
  }
}
