.category {
  @include flex-setting(row, flex-start, center);
  @include ul-nostyle;

  flex-wrap: wrap;

  width: 100%;

  margin-bottom: 1.188rem;

  &--desktop {
      display: none;
  }

  &__item {
    width: auto;

    @include flex-setting(row, flex-start, center);

    margin-right: 1rem;
    margin-bottom: 0.75rem;

    &:last-of-type {
        margin-bottom: 0;
    }
  }

  &__label {
    @include font-setting($primary-font, 1rem, 1, 400, $text-primary);
  }

  &__checkbox + label {
    @include checkbox-default;
  }

  &__checkbox + label::before {
    @include custom-checkbox;
  }

  &__checkbox:checked + label::after {
    @include checkbox-checked;
    animation: showAnimation .2s ease-in-out;
  }

  &__checkbox:hover + label::before {
    @include hover-checkbox;
  }

  &__checkbox:disabled + label::after {
    @include checkbox-disabled;
  }
}

@media only screen and (min-width: 472px) {
    .category {
        &__item {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: $tablet) {
  .category {
      &--mobile {
          display: none;
      }

      &--desktop {
         display: flex;
      }
  }
}

@media only screen and (min-width: $laptop) {
  .category {
      width: auto;
      flex-wrap: nowrap;
      justify-content: flex-end;
      margin-bottom: 0;

    &__checkbox + label {
        padding-left: 1.375rem;
    }

    &__label {
        font-size: 1rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .category {
      &__checkbox + label {
          padding-left: 1.875rem;
      }

      &__label {
          font-size: 1.125rem;
      }
  }
}
