.filter-options {
  display: none;

  &.active {
    width: 100%;
    height: 100%;

    display: block;

    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 99;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar { width: 0; }
  }

  &__head {
    width: 100%;
    height: 60px;
    min-height: 60px;

    @include flex-setting(row, space-between, center);

    padding: 1.125rem 1.25rem;
    background-color: #FAF9F7;

    position: relative;

    margin-bottom: 1.25rem;
  }

  &__title {
    @include font-setting($title-font, 1.25rem, 1.5rem, 700, $text-primary);
    margin: 0;
  }

  &__close {
    @include flex-setting(column, center, center);

    background-color: transparent;
    border: none;

    position: relative;

    cursor: pointer;
    outline: none;

    &::before {
      position: absolute;
      content: '';

      width: 1px;
      height: 40px;

      background-color: #C1CAD5;

      top: 50%;
      left: -25px;

      transform: translateY(-50%);
    }
  }

  &__controls {
    width: 100%;
    @include flex-setting(row, space-between, center);

    padding-left: 1.25rem;
    padding-right: 1.25rem;

    margin-bottom: 1.25rem;
  }

  &__btn {
    @include font-setting($primary-font, 1rem, 1rem, 700, #828C98);
    letter-spacing: 0.01em;

    background-color: transparent;
    border: none;

    padding: 0;

    cursor: pointer;
    outline: none;

    &-expand {
      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 15px;
        height: 9px;

        background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6.5 6L14 1' stroke='%23828C98' stroke-width='2'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: -1.25rem;
        top: 5px;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      border-color: $link-hover;
      transition: 0.1s ease-in-out;
    }
  }

  &__choice {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__cancel {
    display: none;
  }

  &__footer {
    bottom: 0;
    left: 0;

    width: 100%;

    @include flex-setting(column, center, center);

    position: fixed;
    background-color: #84AA32;

    z-index: 3;

    &::before {
      position: absolute;
      content: '';

      width: 100%;
      height: 37px;

      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.489583) 44.79%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(-180deg);

      top: -37px;
      left: 0;
    }
  }

  &__submit {
    @include flex-setting(row, space-between, center);
    width: 100%;
    height: 60px;
    text-decoration: none;

    padding-left: 1.25rem;
    padding-right: 1.25rem;

    &:hover,
    &:active {
      @include btn-hover;
    }

    &.submit-first {
      display: none;
    }
  }

  &__submit-empty,
  &__submit-filtered {
    @include font-setting($title-font, 1.125rem, 1.563rem, 700, $text-secondary);
  }

  &__submit-filtered {
    width: 100%;
    @include flex-setting(row, space-between, center);
  }

  &__submit-count {
    padding-left: 0.625rem;
    padding-right: 1.875rem;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 1px;
      height: 40px;

      background-color: #E4D9C6;

      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__submit-text {
    width: 100%;
    text-align: center;
  }

  &__selected {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0.875rem;
  }
}

@media only screen and (min-width: $tablet) {
  .filter-options {
    @include flex-setting(column, flex-start, flex-start);
    background-color: transparent;

    width: 216px;
    border: none;

    margin-bottom: 3.375rem;

    &__head {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      background-color: transparent;

      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;

      margin-bottom: 0;

      height: auto;
      min-height: 0;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 1.625rem;
      margin-bottom: 2.5rem;
    }

    &__controls {
      padding-left: 0rem;
      padding-right: 0rem;

      margin-bottom: 1.25rem;
    }

    &__selected {
      margin-bottom: 2.5rem;
    }

    &__btn {
      font-size: 0.875rem;

      &-expand {
        &::after {
          transform: scale(0.8) rotate(0);
        }
      }
    }

    &__choice {
      max-width: 100%;
      margin-bottom: 0;
    }

    &__close {
      display: none;
    }

    &__footer {
      position: relative;
      bottom: auto;
      left: auto;
      background-color: transparent;

      width: 100%;
      @include flex-setting(column, flex-start, center);

      padding-bottom: 0;

      &::before {
        display: none;
      }

      display: none;
    }

    &__cancel {
        @include font-setting($title-font, 1.25rem, 1, 600, #fff);
        @include flex-setting(column, center, center);

      align-self: center;
      width: 100%;
      height: 60px;
      background-color: #EC0000;
      border-radius: 5px;
      border: 1px solid #ec0000;

      margin: 0;
      transition: 0.1s ease-in-out;

      &:hover,
      &:active,
      &:focus {
          background-color: #fff;
          border-color: #ec0000;
          color: #ec0000;
          transition: 0.1s ease-in-out;
      }
    }

    &__selected {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 1.25rem;
    }

    &__submit {
      width: 100%;
      background-color: $btn-color;
      border-radius: 5px;
      margin-bottom: 1.625rem;

      padding-left: 1rem;
      padding-right: 1rem;

      margin-bottom: 1.875rem;

      &-count {
        padding-left: 0;
        padding-right: 1rem;

        &::after {
          right: 0.5rem;
        }
      }

      &-text {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .filter-options {
    width: 280px;
    margin-right: 0;
    transition: 0.2s ease-in;

    &__head {
      padding-top: 0;
      padding-left: 0;
    }

    &__btn {
        font-size: 1rem;
    }
  }
}
