.heading {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  padding: 0 0.625rem;
  padding-top: 1.875rem;
  margin-bottom: 1.688rem;

  &__title {
    @include font-setting($title-font, 1.75rem, 2rem, 700, $text-primary);
    margin: 0;
    margin-bottom: 1.875rem;
  }

  &__catalog {
    @include font-setting($primary-font, 1rem, 1.375rem, 400, $text-primary);
    @include flex-setting(row, flex-start, center);

    text-decoration: none;
    display: none;
  }

  &__catalog-pic {
    margin-left: 5px;
  }
}

@media only screen and (min-width: $tablet) {
  .heading {
    padding: 0;
    margin-bottom: 2.688rem;

    &__title {
      margin-bottom: 2.375rem;
    }

    &__catalog-pic {
      margin-left: 5px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .heading {
    &__title {
      margin-bottom: 2.5rem;
    }

    &__catalog-pic {
      margin-left: 0.875rem;
    }
  }
}
