.heading {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  padding: 0 0.625rem;
  padding-top: 1.875rem;
  margin-bottom: 0;

  &__title {
    @include font-setting($title-font, 1.75rem, 2rem, 700, $text-primary);
    margin: 0;
    margin-bottom: 1.875rem;
  }

  &__catalog {
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .heading {
    padding: 0;
    margin-bottom: 0;

    &__title {
      margin-bottom: 2.5rem;
      font-size: 2rem;
      line-height: 2.375rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .heading {
    &__title {
      margin-bottom: 2.5rem;
    }
  }
}
