.seoblock {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;
  padding: 0 0.625rem;

  margin-bottom: 3.75rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary)
    margin: 0;
    margin-bottom: 1.25rem;
  }

  &__description {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary)
    margin: 0;
  }
}

@media only screen and (min-width: $tablet) {
  .seoblock {
    padding: 0 2.5rem;
    padding-top: 1.25rem;
  }
}
