.goals {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  margin-bottom: 3.75rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 700, $text-primary);
    margin: 0;
    margin-bottom: 1.875rem;
    align-self: flex-start;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 100%;
  }

  &__item {
    @include flex-setting(column, flex-start, flex-start);
    border: none;
    border-radius: 5px;

    width: 100%;

    padding: 1.125rem 0.813rem;
    margin-bottom: 1.25rem;

    position: relative;

    background-color: #FAF9F7;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: '';

      width: 60px;
      height: 60px;

      top: 0;
      right: 0;

      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--1 {
      &::after {
        background-image: url('../img/goal-1.svg');
        background-size: 30px 26px;
      }
    }

    &--2 {
      &::after {
        background-image: url('../img/goal-2.svg');
        background-size: 26px 26px;
      }
    }

    &--3 {
      &::after {
        background-image: url('../img/goal-3.svg');
        background-size: 39px 23px;
      }
    }

    &--4 {
      &::after {
        background-image: url('../img/goal-4.svg');
        background-size: 28px 26px;
      }
    }

    &--5 {
      &::after {
        background-image: url('../img/goal-5.svg');
        background-size: 25px 21px;
      }
    }

    &--6 {
      &::after {
        background-image: url('../img/goal-6.svg');
        background-size: 26px 27px;
      }
    }

    &--7 {
      &::after {
        background-image: url('../img/goal-7.svg');
        background-size: 30px 21px;
      }
    }

    &--8 {
      &::after {
        background-image: url('../img/goal-8.svg');
        background-size: 28px 24px;
      }
    }

    &--9 {
      &::after {
        background-image: url('../img/goal-9.svg');
        background-size: 27px 27px;
      }
    }
  }

  &__item-title {
    text-align: left;
    @include font-setting($title-font, 1.125rem, 1.5rem, 600, $text-primary);

    width: 85%;
    margin: 0;
    margin-bottom: 0.625rem;
  }

  &__item-description {
    @include font-setting($primary-font, 1rem, 1.25rem, 400, $text-primary);
    text-align: left;

    margin: 0;

    width: 100%;
  }
}

@media only screen and (min-width: $tablet) {
  .goals {
    align-items: flex-start;
    margin-bottom: 5rem;

    &__title {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &__list {
      transition: 0.1s ease-in;
      @include flex-setting(row, flex-start, flex-start);
      flex-wrap: wrap;
    }

    &__item-title {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }

    &__item {
      max-width: 334px;
      height: 269px;

      padding: 1.063rem 1.188rem;
      margin-bottom: 1.25rem;

      &:nth-child(2n + 1) {
        margin-right: 1.25rem;
      }

      &--6 {
        .goals__item-title {
          width: 60%;
        }
      }

      &--8 {
        .goals__item-title {
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .goals {
    &__item {
      max-width: 301px;

      &:nth-child(2n + 1) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-right: 1.25rem;
      }

      &:nth-child(3n + 2) {
        margin-right: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .goals {
    margin-bottom: 5rem;

    &__title {
      font-size: 2rem;
      line-height: 3.063rem;
      margin-bottom: 2rem;
    }

    &__item {
      max-width: 392px;
      height: 318px;

      &:nth-child(2n + 1) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-right: 0.625rem;
      }

      &:nth-child(3n + 2) {
        margin-right: 0.625rem;
      }

      &--8 {
        .goals__item-title {
          width: 100%;
        }
      }
    }

    &__item-title {
      font-size: 1.625rem;
      line-height: 2.063rem;
      margin-bottom: 1.438rem;
    }

    &__item-description {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}
