.whywe {
  width: 100%;

  @include flex-setting(column, flex-start, center);
  margin-bottom: 2.5rem;

  &__title {
    @extend .production__title;
    padding-left: 0 !important;
  }

  &__text {
    @include font-setting($primary-font, 1.125rem, 1.5rem, 400, $text-primary);
    margin: 0;
    width: 100%;
  }
}

@media only screen and (min-width: $tablet) {
  .whywe {
    margin-bottom: 3.75rem;

    &__title {
      margin-bottom: 2.5rem;
    }

    &__text {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .whywe {
    position: relative;
    margin-bottom: 3.75rem;

    &__title {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }

    &__text {
      align-self: flex-start;
      font-size: 1.25rem;
      line-height: 1.75rem;

      max-width: 472px;
    }

    &::after {
      position: absolute;
      content: '';

      width: 432px;
      height: 496px;

      background-image: url('../img/whywe.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;

      top: 0;
      right: 0;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .whywe {
    margin-bottom: 10.25rem;

    &__title {
      font-size: 3.5rem;
      line-height: 3.375rem;
      margin-bottom: 5rem;
    }

    &__text {
      max-width: 600px;
    }

    &::after {
      width: 560px;
      height: 642px;

      top: -3.75rem;
      right: 0;
    }
  }
}
