.about {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  margin-bottom: 5.188rem;
  padding: 0 0.625rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary);
    margin: 0;

    margin-bottom: 1.25rem;
  }

  &__description {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);
    margin: 0;
  }
}

@media only screen and (min-width: $tablet) {
  .about {
    margin-bottom: 1.875rem;
    padding: 0;

    width: 100%;
    max-width: 688px;

    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  }
}

@media only screen and (min-width: $laptop) {
  .about {
    margin-bottom: 2.5rem;
    max-width: 944px;

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .about {
    margin-bottom: 2.688rem;
    max-width: 1200px;

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.688rem;
    }
  }
}
