.about {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  margin-bottom: 5.188rem;
  padding: 0 0.625rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary);
    margin: 0;

    margin-bottom: 1.25rem;
  }

  &__container {
    @include flex-setting(column, flex-start, flex-start);

    width: 100%;
    max-height: 110px;
    min-height: 110px;

    overflow-y: hidden;

    margin-bottom: 2.5rem;

    transition: max-height 400ms ease-in-out;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 100%;
      height: 50px;

      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.active {
      max-height: 4000px;
      transition: max-height 400ms ease-in-out;

      &::after {
        display: none;
      }
    }
  }

  &__subtitle {
    @include font-setting($title-font, 1rem, 1.25rem, 500, $text-primary);
    margin: 0;

    margin-bottom: 1.25rem;
  }

  &__description {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);
    margin: 0;
    margin-bottom: 0.625rem;

    &-head {
      @include font-setting($primary-font, 1rem, 1.25rem, 600, $text-primary);
      margin: 0;

      margin-bottom: 1.25rem;
    }

    &-link {
      text-decoration: none;
      color: $text-primary;

      &:hover,
      &:active,
      &:focus {
        color: $link-hover;
        transition: 0.1s ease-in;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      padding-left: 1.25rem;
    }
  }

  &__expand {
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);
    @include flex-setting(column, center, center);
    text-decoration: none;
    text-align: center;

    background-color: $btn-color;
    border: none;

    align-self: center;

    width: 200px;
    height: 60px;

    border-radius: 5px;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .about {
    margin-bottom: 1.875rem;
    padding: 0;

    width: 100%;
    max-width: 688px;

    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  }
}

@media only screen and (min-width: $laptop) {
  .about {
    margin-bottom: 2.5rem;
    max-width: 944px;

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .about {
    margin-bottom: 2.688rem;
    max-width: 1200px;

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.688rem;
    }
  }
}
