.act-list {
  @include flex-setting(column, flex-start, flex-start);
  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;

  &__item {
    @include flex-setting(column, flex-start, flex-start);

    width: 100%;
    margin-bottom: 2.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    @include font-setting($title-font, 1.125rem, 1.313rem, 500, $text-primary);
    @include flex-setting(row, space-between, center);
    margin: 0;
    margin-bottom: 0.625rem;

  }

  &__item-description {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);
    margin: 0;
  }

  &__pic {
    margin-left: 0.375rem;
  }
}

@media only screen and (min-width: $tablet) {
  .act-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 688px;
    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    &__item {
      @include flex-setting(column, flex-start, flex-start);

      width: 30%;
      margin-bottom: 0;
    }

    &__item-title {
      justify-content: flex-start;
      width: 60%;
      font-size: 1.375rem;
      line-height: 1.625rem;

      position: relative;
    }

    &__item-description {
      @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);
      margin: 0;
      max-width: 216px;
    }

    &__pic {
      position: absolute;
      margin-left: 0;

      bottom: 0;

      &--star {
        right: -5px;
        bottom: 2px;
      }

      &--scale {
        right: -50px;
        bottom: 4px;
      }

      &--chat {
        right: -60px;
        bottom: 4px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .act-list {
    max-width: 944px;

    &__item {
      width: 30%;
    }

    &__item-title {
      justify-content: flex-start;
      width: 100%;
      font-size: 1.375rem;
      line-height: 1.625rem;
    }

    &__pic {
      position: relative;
      margin-left: 0.625rem;

      bottom: auto;
      right: auto;

      &--star {
        bottom: auto;
        right: auto;
      }

      &--scale {
        bottom: auto;
        right: auto;
      }

      &--chat {
        bottom: auto;
        right: auto;
      }
    }
  }
}
