.activity {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  padding-top: 1.763rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 2.063rem;

  margin-bottom: 2.25rem;

  border: 1px solid #D0DAE5;
  border-radius: 5px;

  &__title {
    @include font-setting($title-font, 1.816rem, 1.938rem, 500, $text-primary);
    margin: 0;
    margin-bottom: 1.451rem;

    text-transform: uppercase;
  }
}
