.choice {
  @include flex-setting(column, flex-start, center);

  width: 100%;
  padding: 0 0.625rem;

  margin-bottom: 3.75rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary);
    margin: 0;
    margin-bottom: 2.25rem;
  }

  &__expand {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, #828C98);
    letter-spacing: 0.01em;

    background-color: transparent;
    border: none;

    border-bottom: 1px dashed #828C98;

    padding: 0;

    cursor: pointer;
    outline: none;

    margin-bottom: 1.875rem;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      border-color: $link-hover;
      transition: 0.1s ease-in-out;
    }
  }

  &__wrap {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    margin-bottom: 1.875rem;
  }
  /*Пустая кнопка*/
  &__submit {
    @include flex-setting(column, center, center);
    text-decoration: none;
    background-color: $btn-color;

    width: 220px;
    height: 60px;

    border-radius: 5px;

    margin-bottom: 1.25rem;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
  /*Кнопка с показом количества выбранных вариантов*/
  &__submit-filtered {
    @include flex-setting(row, space-between, center);

    width: 100%;
  }
  &__submit-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25%;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 1px;
      height: 40px;

      top: 50%;
      right: 0;

      background-color: #E4D9C6;

      transform: translateY(-50%);
    }
  }
  &__submit-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  /*Общие текстовые стили*/
  &__submit-empty,
  &__submit-filtered,
  &__submit-count {
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);
  }
  /*Кнопка сброса фильтра*/
  &__reset {
    @include font-setting($primary-font, 0.75rem, 1rem, 600, #828C98);
    letter-spacing: 0.01em;

    background-color: transparent;
    border: none;

    border-bottom: 1px dashed #828C98;

    padding: 0;

    cursor: pointer;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
      border-color: $link-hover;
      transition: 0.1s ease-in-out;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .choice {
    width: 100%;
    max-width: 688px;
    align-items: flex-start;
    padding: 0;

    margin-bottom: 4.188rem;

    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    &__title {
      font-size: 1.75rem;
      line-height: 2.063rem;
      margin-bottom: 2.375rem;
      align-self: flex-start;
    }

    &__wrap {
      width: 100%;
      max-width: 688px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      margin-bottom: 0.625rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .choice {
    max-width: 944px;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 396px;
      height: 320px;

      background-image: url('../img/choice-hand.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;

      top: 76px;
      right: -7%;
    }

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.375rem;
    }

    &__wrap {
      max-width: 600px;

      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .choice {
    max-width: 1200px;
    margin-bottom: 3.75rem;

    &::after {
      position: absolute;
      content: '';

      width: 886px;
      height: 489px;

      background-size: contain;

      top: 0px;
      right: -17%;
    }

    &__reset {
      margin-left: 5.25rem;
    }

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 2.375rem;
    }

    &__wrap {
      max-width: 600px;

      margin-bottom: 2.5rem;
    }
  }
}
