.intro {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  margin-top: 0;
  position: relative;
  margin-bottom: 1.875rem;

  .swiper-pagination {
    position: relative;
    width: 100%;
    @include flex-setting(row, center, center);
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #C1CAD5;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $btn-color;
  }

  .button-prev,
  .button-next {
    position: absolute;
    top: 20%;

    width: 15px;
    height: 30px;

    cursor: pointer;

    border: none;
    background-color: transparent;
  }

  .button-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='40' viewBox='0 0 25 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' filter='url(%23filter0_f)'%3E%3Cpath d='M22 3L5 20L22 37' stroke='%23F0EFED' stroke-width='4'/%3E%3C/g%3E%3Cpath d='M20 3L3 20L20 37' stroke='%2300778B' stroke-width='3'/%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='1.17139' y='0.585938' width='23.2426' height='38.8284' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translateY(-50%);
    left: 0.625rem;

    z-index: 10;
  }

  .button-next {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='40' viewBox='0 0 25 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' filter='url(%23filter0_f)'%3E%3Cpath d='M22 3L5 20L22 37' stroke='%23F0EFED' stroke-width='4'/%3E%3C/g%3E%3Cpath d='M20 3L3 20L20 37' stroke='%2300778B' stroke-width='3'/%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='1.17139' y='0.585938' width='23.2426' height='38.8284' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='0.5' result='effect1_foregroundBlur'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    right: 0.625rem;
    transform: translateY(-50%) rotate(180deg);

    z-index: 5;
  }
}

@media only screen and (min-width: $tablet) {
  .intro {
    margin-bottom: 2.5rem;
    position: relative;

    .swiper-pagination {
      margin-top: 1rem;
      z-index: 10;
    }

    .button-prev,
    .button-next {
      top: 25%;
      width: 22px;
      height: 33px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .intro {
    margin-bottom: 5.313rem;
    margin-top: -1.313rem;

    z-index: 11 !important;

    .swiper-pagination {
      margin-top: 2.5rem;
      z-index: 10;
    }

    .button-prev,
    .button-next {
      top: 44.5%;
      width: 11px;
      height: 22px;
    }

    .button-prev {
        left: 1rem;
    }

    .button-next {
        right: 1rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .intro {
    margin-bottom: 6.125rem;

    .button-prev,
    .button-next {
      top: 46%;
      width: 17px;
      height: 34px;
    }

    .button-prev {
        left: 2%;
    }

    .button-next {
        right: 2%;
    }
  }
}

@media only screen and (min-width: 1680px) {
  .intro {
    margin-top: -1.375rem;

    .button-prev,
    .button-next {
      top: 46.5%;
      width: 17px;
      height: 34px;
    }
  }
}
