.latest {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  padding: 0 0.625rem;

  margin-bottom: 3.75rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 600, $text-primary);
    margin: 0;
    margin-bottom: 1.25rem;
  }

  &__container {
    @include flex-setting(column, flex-start, center);

    width: 100%;

    margin-bottom: 2.5rem;
  }

  &__link {
    @include font-setting($title-font, 1.125rem, 1.563rem, 600, $text-secondary);
    @include flex-setting(column, center, center);
    text-decoration: none;
    text-align: center;

    background-color: $btn-color;

    align-self: center;

    width: 200px;
    height: 60px;

    border-radius: 5px;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .latest {
    padding: 0;

    margin-bottom: 5.125rem;
    max-width: 688px;
    transition: 0.2s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    &__title {
      margin-bottom: 2rem;
    }

    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      width: 100%;

      margin-bottom: 3.75rem;
    }

    &__link {
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .latest {
    padding: 0;

    margin-bottom: 4.625rem;
    max-width: 944px;

    &__title {
      margin-bottom: 2.188rem;
      font-size: 2rem;
      line-height: 2.375rem;
    }

    &__container {
      justify-content: flex-start;

      margin-bottom: 4.75rem;
    }

    &__item {
      margin-right: 1.125rem;
    }

    &__item:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .latest {
    max-width: 1200px;

    &__container {
      margin-bottom: 3.75rem;
    }

    &__item {
      margin-right: 1.25rem;
    }

    &__item:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}
