.latest {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;

  padding: 0 0.625rem;

  margin-bottom: 3.75rem;

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary);
    margin: 0;
    margin-bottom: 1.25rem;
  }

  &__container {
    @include flex-setting(column, flex-start, center);

    width: 100%;

    margin-bottom: 2.5rem;
  }

  &__link {
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);
    @include flex-setting(column, center, center);
    text-decoration: none;
    text-align: center;

    background-color: $btn-color;

    align-self: center;

    width: 200px;
    height: 60px;

    border-radius: 5px;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}
