.options {
  width: 100%;
  overflow: hidden;

  padding-left: 0.625rem;

  @include flex-setting(column, flex-start, center);

  margin-bottom: 3.75rem;

  &__visual {
    @include flex-setting(column, center, center);
    margin-bottom: 1.25rem;
    max-width: 280px;

    &-pic {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__container {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    position: relative;

    &::after {
      position: absolute;
      content: '';

      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
      width: 30px;
      height: 200px;
      z-index: 2;

      right: 0;
      top: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .options {
    padding: 0;
    max-width: 688px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.75rem;

    &__visual {
      width: 50%;
      max-width: 327px;
      margin-bottom: 0;

      order: 2;

      position: relative;

      &-pic {
        &.hidden {
          visibility: hidden;
          position: absolute;
          display: block;
          animation: fade-out 0.5s;
        }

        &.active {
          animation: fade-in 0.5s;
        }
      }
    }

    &__container {
      width: 50%;
      order: 1;

      &::after {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .options {
    max-width: 944px;

    margin-bottom: 8.313rem;
    align-items: center;

    &__visual {
      max-width: 498px;
      width: 498px;
    }

    &__container {
      width: 460px;
      max-width: 460px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .options {
    max-width: 1200px;
    margin-bottom: 13.125rem;

    &__visual {
      max-width: 728px;
      width: 728px;
    }

    &__container {
      margin-top: 4.125rem;
      margin-right: 5rem;
      width: 392px;
      max-width: 392px;
    }
  }
}

@keyframes fade-in {
  0% {
    transform: translate(-20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translate(0, 0);
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }

  100% {
    transform: translate(-20px, 0);
    opacity: 0;
    z-index: -2;
    visibility: hidden;
  }
}
