.card-slider {
  width: 100%;
  max-height: 300px;

  margin-bottom: 1.875rem;
  background-color: #FAF9F7;

  position: relative;

  overflow: hidden;

  border: 2px solid #C1CAD5;
  border-radius: 5px;

  .slide-prev,
  .slide-next {
    width: 13px;
    height: 24px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    z-index: 5;
    cursor: pointer;
    outline: none;

    transform: scale(1.5);
  }

  .slide-next {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L16 9L8 17' stroke='%2384AA32' stroke-width='2'/%3E%3C/svg%3E%0A");
    top: 50%;
    right: 10px;
  }

  .slide-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L2 9L10 17' stroke='%2384AA32' stroke-width='2'/%3E%3C/svg%3E");
    top: 50%;
    left: 10px;
  }

  &__expand {
    position: absolute;
    top: 10px;
    right: 10px;

    @include flex-setting(column, center, center);
    width: 30px;
    height: 30px;

    border-radius: 100%;
    border: none;

    background-color: $green;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M7 0v14M14 7H0'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    padding: 0;

    cursor: pointer;
    outline: none;

    z-index: 9;
    transition: 0.1s ease-in;

    &:hover,
    &:active {
      background-color: $blue;
      transition: 0.1s ease-in;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  .swiper-pagination-fraction {
    position: absolute;

    bottom: 10px;

    z-index: 9;

    color: $btn-color;

    @include flex-setting(row, flex-end, center);
    padding-right: 0.625rem;
  }

  .swiper-pagination-current,
  .swiper-pagination-total {
    @include font-setting($primary-font, 0.75rem, 1rem, 700, $btn-color);
  }
}

@media only screen and (min-width: $tablet) {
  .card-slider {
    margin-bottom: 1.875rem;
    max-height: 614px;

    .slide-prev,
    .slide-next {
      width: 13px;
      height: 24px;
    }

    .slide-next {
      right: 10px;
    }

    .slide-prev {
      left: 10px;
    }

    .swiper-pagination-fraction {
      padding-right: 0.875rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .card-slider {
    display: none;
  }
}
