.details {
  width: 100%;

  padding: 0 0.625rem;

  @include flex-setting(column, flex-start, center);

  &__description {
    width: 100%;
    margin-bottom: 3.75rem;

    @include flex-setting(column, flex-start, center);
  }
}

@media only screen and (min-width: $tablet) {
  .details {
    width: 100%;

    padding: 0;

    &__description {
      margin-bottom: 3rem;

      @include flex-setting(row, space-between, flex-start);

      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .details {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__description {
      width: auto;
      margin-bottom: 1.25rem;
      justify-content: flex-start;
    }

    &__list {
      margin-right: 1.25rem;
    }
  }
}
