.details {
  width: 100%;

  padding: 0 0.625rem;

  @include flex-setting(column, flex-start, center);

  &__description {
    width: 100%;
    margin-bottom: 3.75rem;

    @include flex-setting(column, flex-start, center);
  }

  &__control {
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .details {
    width: 100%;

    padding: 0;

    &__description {
      margin-bottom: 3rem;

      @include flex-setting(row, space-between, flex-start);

      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .details {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;

    padding-top: 38px;

    &__control {
      @include flex-setting(row, flex-start, center);

      width: auto;
      position: absolute;

      top: 0;
    }

    &__expand {
      border: none;
      background-color: transparent;

      cursor: pointer;
      outline: none;

      position: relative;

      @include font-setting($primary-font, 0.875rem, 1.188rem, 600, #828C98);
    }

    &__expand-pic {
      margin-top: 2px;
      transform: rotate(180deg);
      transition: 0.2s ease-in;

      &.open {
        transform: rotate(0);
        transition: 0.2s ease-in;
      }
    }

    &__description {
      width: auto;
      margin-bottom: 1.25rem;
      justify-content: flex-start;
    }

    &__list {
      margin-right: 1.25rem;
    }
  }
}
