.itemcard {
  @include flex-setting(column, flex-start, flex-start);

  width: 100%;
  margin-bottom: 3rem;

  &__wrapper {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
  }

  /*Информация - название и тип*/
  &__info {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;

    padding: 0 0.625rem;
    margin-bottom: 1.75rem;

    order: 1;
  }

  &__title {
    @include font-setting($title-font, 1.5rem, 1.75rem, 500, $text-primary);
    margin: 0;
    margin-bottom: 1.75rem;
  }

  &__type {
    @include font-setting($primary-font, 0.875rem, 1.188rem, 600, $text-primary);
    margin: 0;
  }

  /*Слайдер фотографий*/
  &__slider {
    order: 2;
  }

  &__utils {
    order: 3;

    width: 100%;

    @include flex-setting(column, flex-start, center);
    margin-bottom: 2rem;
  }
  /*Блок ссылок на скачиваемые документы*/
  &__files {
    @include flex-setting(column, flex-start, center);
    order: 2;
    width: 100%;
    border: 1px solid #00778B;
    border-radius: 5px;

    max-width: 280px;
    position: relative;

    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0.688rem;

    &-item {
      width: 100%;

      @include flex-setting(row, center, center);

      border-bottom: 1px solid #00778B;

      &:last-of-type {
        border-bottom: none;
      }
    }

    &-link {
      @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);

      padding-top: 1.063rem;
      padding-bottom: 1.063rem;

      text-decoration: none;

      &:hover {
        color: $btn-color;
        transition: 0.1s ease-in;
      }
    }

    &-pic {
      margin-right: 0.875rem;
    }

    &-sizes {
      width: 100%;
      position: absolute;
      min-width: 280px;

      top: 51px;
      left: -1px;
      right: 0;
      background-color: #fff;

      @include flex-setting(column, flex-start, flex-start);

      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 0;

      border: 1px solid #00778B;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      overflow-y: hidden;
      visibility: hidden;
      transition: max-height 400ms ease-in-out;

      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &::-webkit-scrollbar {
        width: 0;
      }

      &.active {
        max-height: 500px;
        transition: max-height 400ms ease-in-out;
        visibility: visible;
        background-color: #fff;

        z-index: 10;
      }
    }
  }

  &__sizes-item {
    @include flex-setting(column, flex-start, flex-start);
    padding-left: 3.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  &__sizes-title {
    @include font-setting($title-font, 1rem, 1, 600, $text-primary);
    margin-bottom: 0.25rem;
  }

  &__sizes-text {
    @include font-setting($primary-font, 1rem, 1, 400, $text-primary);
  }

  /*Страна производства*/
  &__national {
    @include flex-setting(row, flex-start, center);

    align-self: flex-start;
    order: 1;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;

    width: 100%;

    &-pic {
      border-radius: 50%;
      position: relative;

      box-shadow:0px 0px 0px 1px rgba(227,227,227,1);
      -webkit-box-shadow:0px 0px 0px 1px rgba(227,227,227,1);
      -moz-box-shadow:0px 0px 0px 1px rgba(227,227,227,1);

      margin-right: 0.625rem;
    }

    &-description {
      @include font-setting($primary-font, 0.75rem, 1rem, 700, $text-primary);
    }
  }
  /*Описание продукта*/
  &__description {
    order: 4;

    @include font-setting($primary-font, 0.875rem, 1.188rem, 400, $text-primary);

    padding: 0 0.625rem;
    margin-top: 0;
    margin-bottom: 1.938rem;
  }
  /*Цвета - скрыты на мобиле*/
  &__color {
    order: 5;
    display: none;
  }
  /*Кнопка предзаказа*/
  &__preorder {
    order: 6;

    align-self: center;

    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1.125rem, 1.563rem, 600, $text-secondary);

    text-align: center;
    text-decoration: none;

    width: 280px;
    height: 60px;

    background-color: $btn-color;
    border-radius: 5px;

    &:hover,
    &:active {
      @include btn-hover;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .itemcard {
    padding-left: 0;
    padding-right: 0;

    margin-bottom: 5rem;
    /*Информация - название и тип*/
    &__info {
      padding: 0;
      margin-bottom: 1.875rem;
    }

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 1.75rem;
    }
    /*Слайдер фотографий*/
    &__slider {
      order: 2;
    }
    /*Объединение файлов и страны производства*/
    &__utils {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2rem;
    }
    /*Блок ссылок на скачиваемые документы*/
    &__files {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: auto;
      max-width: 452px;
      padding: 0 2.375rem;
      z-index: 2;

      &-item {
        width: 100%;

        border-bottom: none;
        margin-right: 4.75rem;

        position: relative;

        &::after {
          position: absolute;
          content: '';

          width: 1px;
          height: 38px;

          background-color: #00778B;
          top: 50%;
          transform: translateY(-50%);
          right: -35px;
        }

        &:last-of-type {
          margin: 0;

          &::after {
            display: none;
          }
        }
      }

      &-pic {
        margin-right: 1rem;
      }

      &-sizes {
        width: 100%;
        position: absolute;
        min-width: 216px;

        top: 43px;
        left: -37px;
        right: auto;
        background-color: #fff;

        @include flex-setting(column, flex-start, flex-start);

        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 0;

        border: 1px solid #00778B;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        overflow-y: hidden;
        visibility: hidden;
        transition: max-height 400ms ease-in-out;

        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar {
          width: 0;
        }

        &.active {
          max-height: 500px;
          transition: max-height 400ms ease-in-out;
          visibility: visible;
          background-color: #fff;
        }
      }
    }

    &__sizes-item {
      @include flex-setting(column, flex-start, flex-start);
      padding-left: 3.5rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
    }

    &__sizes-title {
      @include font-setting($title-font, 1rem, 1, 600, $text-primary);
      margin-bottom: 0.25rem;
    }

    &__sizes-text {
      @include font-setting($primary-font, 1rem, 1, 400, $text-primary);
    }

    /*Страна производства*/
    &__national {
      margin: 0;
      align-self: center;
    }
    /*Описание продукта*/
    &__description {
      order: 4;

      font-size: 1rem;
      line-height: 1.375rem;

      padding: 0;
      margin-bottom: 2.188rem;
    }
    /*Блок выбора цвета*/
    &__color {
      @include flex-setting(column, flex-start, flex-start);

      &-title {
        @include font-setting($primary-font, 0.75rem, 1rem, 600, $text-primary);
        margin: 0;
        margin-bottom: 0.625rem;
      }

      &-list {
        @include flex-setting(row, flex-start, flex-start);

        width: auto;

        margin: 0;
        padding: 0;
        list-style: none;

        margin-bottom: 3.375rem;
      }

      &-item {
        @include flex-setting(column, flex-end, center);

        border: 1px solid #F1F0EC;
        border-radius: 3px;

        padding-left: 0.625rem;
        padding-right: 0.625rem;

        margin-right: 1.25rem;

        height: 86px;
        width: 72px;

        cursor: pointer;
        outline: none;

        &:last-of-type {
          margin-right: 0;
        }

        &:active,
        &:hover,
        &:focus {
          border-color: #00778B;
          transition: 0.1s ease-in;
        }
      }

      &-frame {
        @include flex-setting(column, flex-end, center);
      }
    }
    /*Кнопка предзаказа*/
    &__preorder {
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .itemcard {
    width: 100%;
    height: 580px;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;

    &__wrapper {
      width: 450px;
    }

    /*Информация - название и тип*/
    &__info {
      padding: 0;
      margin-bottom: 1.125rem;
    }

    &__title {
      font-size: 1.375rem;
      line-height: 1.75rem;
      margin-bottom: 0.625rem;
    }

    /*Объединение файлов и страны производства*/
    &__utils {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: 1.125rem;
    }
    /*Блок ссылок на скачиваемые документы*/
    &__files {
      order: 1;

      max-width: 450px;
      padding: 0 1.25rem;
      margin-bottom: 1.125rem;

      &-link {
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
      }
    }
    /*Страна производства*/
    &__national {
      order: 2;
      margin: 0;
      align-self: flex-start;
      padding-left: 0;

      &-description {
        font-size: 1rem;
      }
    }
    /*Описание продукта*/
    &__description {
      order: 4;

      font-size: 0.875rem;
      line-height: 1.125rem;

      padding: 0;
      margin-bottom: 1.125rem;
    }
    /*Блок выбора цвета*/
    &__color {
      &-list {
        margin-bottom: 3.5rem;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .itemcard {
    width: 100%;
    height: 734px;
    margin-bottom: 4.813rem;

    &__wrapper {
      width: 476px;
    }
    /*Информация - название и тип*/
    &__info {
      padding: 0;
      margin-bottom: 1.25rem;
    }

    &__title {
      font-size: 2rem;
      line-height: 2.375rem;
      margin-bottom: 1.75rem;
    }

    /*Объединение файлов и страны производства*/
    &__utils {
      margin-bottom: 1.75rem;
    }
    /*Блок ссылок на скачиваемые документы*/
    &__files {
      max-width: 476px;
      padding: 0 2.25rem;
      margin-bottom: 2.125rem;

      &-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    /*Описание продукта*/
    &__description {
      font-size: 1rem;
      line-height: 1.375rem;
      margin-bottom: 2.125rem;
    }
    /*Блок выбора цвета*/
    &__color {
      &-list {
        margin-bottom: 3.438rem;
      }
    }
  }
}
