.popup-preorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  transition: 0.3s ease-in;
  animation: showAnimation .2s ease-in-out;

  &__wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #ffffff;

    position: relative;

    padding-bottom: 10px;

    overflow-y: scroll;
  }

  &__header {
    @include flex-setting(row, space-between, center);

    width: 100%;

    background-color: #84AA32;

    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    position: relative;

    &--reaction {
      background-color: #84AA32;
    }
  }

  &__title {
    @include font-setting($title-font, 1.25rem, 1.5rem, 500, $text-secondary);
    text-align: left;

    width: 100%;
    margin: 0;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      height: 40px;
      width: 1px;

      background-color: #75962F;

      top: 50%;
      transform: translateY(-50%);
      right: 45px;
    }
  }

  &__close {
    -webkit-tap-highlight-color: transparent;

    width: 18px;
    height: 18px;

    border: none;
    background-color: transparent;

    position: absolute;

    top: 50%;
    right: 28px;
    transform: translateY(-50%);

    cursor: pointer;
    outline: none;
  }

  &__close-pic {
    padding: 0;
    &--white {
      display: block;
    }

    &--black {
      display: none;
    }
  }

  &__action {
    @include flex-setting(column, flex-start, center);

    padding: 1.563rem 1.25rem 2.5rem 1.25rem;

    &--inactive {
      display: none;
    }
  }

  &__warn {
    margin-top: 0;
    margin-bottom: 0;

    @include font-setting($primary-font, 0.688rem, 0.938rem, 400, $text-primary);
  }

  &__warn-link {
    color: $text-primary;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover;
    }
  }

  /*Стили для формы ответа*/

  &__reaction {
    @include flex-setting(column, flex-start, flex-start);

    background-color: #84AA32;
    width: 100%;
    padding-bottom: 41px;

    &--inactive {
      display: none;
    }
  }

  &__frame {
    width: 100%;
    margin-top: 13px;
    object-fit: cover;
  }

  &__answer {
    @include font-setting($primary-font, 1rem, 1.375em, 600, $text-secondary);

    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 4.625rem;

    width: 100%;
  }

  &__final {
    align-self: center;

    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 0.875rem, 1.188rem, 600, $text-secondary);

    background-color: rgba(255, 255, 255, 0.15);

    border: none;
    border-radius: 5px;

    width: 150px;
    height: 40px;

    &:hover,
    &:active,
    &:focus {
      @include btn-hover;
    }
  }
}
