.similar-list {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: $tablet) {
  .similar-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 688px;

    &__item {
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .similar-list {
    justify-content: flex-start;
    max-width: 944px;

    &__item {
      margin-right: 1.125rem;
      margin-bottom: 1.125rem;

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
}


@media only screen and (min-width: $laptop-wide) {
  .similar-list {
    max-width: 1200px;

    &__item {
      margin-right: 1.25rem;

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
}
